// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";



@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-header-wrapper,
.l-main-wrapper,
.l-footer-wrapper{
  @include clearfix;
}

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){
    width: $smartphone;
  }
  @include breakpoint ($tablet){
    width: $tablet;
  }
  @include breakpoint ($desktop){
    width: $desktop;

    .l-main{
      margin: 0 15px 15px;
      clear: both;
      .l-content{
        h1{
          margin-top: 0;
        }
        .node--webform--full{
          border: solid 1px $pc-gray;
          padding: 20px;
          border-top: none;
        }

        .block--views-forms-forms-block{
          border: solid 1px $pc-gray;
          padding: 20px 20px 0;
          border-bottom: none;

          h2{
            font-size: 14px;
            color: $pc-gray;
          }

          select{
            border: solid 1px #5F9BAF;
            box-shadow: none;
            width:100%;
            padding: 5px;
          }
        }


        .registration-form{
          border: solid 1px $pc-gray;
          padding: 20px;
          margin-top: 25px;
        }

        .view-training-sessions{
          .views-field{
            .views-label,
            .field-content{
              display: inline-block;
            }
            .views-label{
              width: 75px;
            }
            &.views-field-expression{
              margin: 20px 0 10px 0;
              font-size: 1.5em;
            }
          }
        }
      }
      .l-region--sidebar-first{

      }
    }
  }
}
