/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
    .l-page {
      width: 990px; }
      /* line 30, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
      .l-page .l-main {
        margin: 0 15px 15px;
        clear: both; }
        /* line 34, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
        .l-page .l-main .l-content h1 {
          margin-top: 0; }
        /* line 37, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
        .l-page .l-main .l-content .node--webform--full {
          border: solid 1px #616265;
          padding: 20px;
          border-top: none; }
        /* line 43, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
        .l-page .l-main .l-content .block--views-forms-forms-block {
          border: solid 1px #616265;
          padding: 20px 20px 0;
          border-bottom: none; }
          /* line 48, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
          .l-page .l-main .l-content .block--views-forms-forms-block h2 {
            font-size: 14px;
            color: #616265; }
          /* line 53, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
          .l-page .l-main .l-content .block--views-forms-forms-block select {
            border: solid 1px #5F9BAF;
            box-shadow: none;
            width: 100%;
            padding: 5px; }
        /* line 62, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
        .l-page .l-main .l-content .registration-form {
          border: solid 1px #616265;
          padding: 20px;
          margin-top: 25px; }
        /* line 70, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
        .l-page .l-main .l-content .view-training-sessions .views-field .views-label,
        .l-page .l-main .l-content .view-training-sessions .views-field .field-content {
          display: inline-block; }
        /* line 74, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
        .l-page .l-main .l-content .view-training-sessions .views-field .views-label {
          width: 75px; }
        /* line 77, ../../../sass/layouts/twocolumncs/nih-twocolumncs.layout.scss */
        .l-page .l-main .l-content .view-training-sessions .views-field.views-field-expression {
          margin: 20px 0 10px 0;
          font-size: 1.5em; } }

/*# sourceMappingURL=nih-twocolumncs.layout.css.map */
