/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/twocolumncs/twocolumncs.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/twocolumncs/twocolumncs.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/twocolumncs/twocolumncs.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/twocolumncs/twocolumncs.layout.scss */
    .l-page {
      width: 990px; }
      /* line 30, ../../../sass/layouts/twocolumncs/twocolumncs.layout.scss */
      .l-page .l-main {
        margin: 0 15px 15px;
        clear: both; }
        /* line 33, ../../../sass/layouts/twocolumncs/twocolumncs.layout.scss */
        .l-page .l-main .l-content {
          width: 74.57627%;
          float: left;
          margin-right: -100%;
          margin-left: 0;
          clear: none; }
        /* line 36, ../../../sass/layouts/twocolumncs/twocolumncs.layout.scss */
        .l-page .l-main .l-region--sidebar-first {
          width: 23.72881%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none;
          padding-left: 20px; } }

/*# sourceMappingURL=twocolumncs.layout.css.map */
