input, textarea, select, button {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}


.node--webform--full,
.registration-form{
  input, textarea, select, button {
    border: solid 1px #5F9BAF;
    box-shadow: none;
  }

  label{
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea{
    width:100%;
    padding: 5px;
  }

  input[type="checkbox"]{
  }

  .form-actions{
    text-align: right;
    margin-top: 20px;
  }

  .webform-submit,
  .webform-reset,
  .form-submit{
    background-color: #20558a;
    border: medium none;
    border-radius: 7px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
  }

  #edit-cancel{
    display: none;
  }

  .webform-reset{
    margin-left: 20px;
    margin-right: 20px;
  }

  .webform-client-form-4,
  .webform-client-form-5,
  .webform-client-form-6,
  .webform-client-form-7,
  .webform-client-form-8,
  .webform-client-form-9,
  .webform-client-form-10,
  .webform-client-form-11,
  .webform-client-form-12,
  .webform-client-form-13,
  .webform-client-form-14,
  .webform-client-form-15{
    .webform-component--first-name,
    .webform-component--last-name{
      width: 47%;
      display:inline-block;
    }

    .webform-component--first-name{
      margin-right: 5%;
    }

    .webform-component--phone{
      width: 34%;
      display: inline-block;
      margin-right: 5%;
    }

    .webform-component--visitor{
      width: 60%;
      display: inline-block;
    }
  }

  .webform-client-form-15{
    .webform-component--visitor{
      width: 100%;
    }

    .webform-component--phone{
      width: 100%;
    }
  }

  .form-item{
    .description{
      margin-top: 5px;
    }
  }

  .field-name-field-first-name,
  .field-name-field-last-name{
      width: 47%;
      display:inline-block;
  }

  .field-name-field-first-name{
    margin-right: 5%;
  }
  .field-name-field-last-name{
    width: 48%;
  }
}


.node-type-webform,
.page-node-16{
  .l-region--sidebar-first{
    h2{
      /*color: $pc-gray;*/
      margin-bottom: 0px;
    }
  }
}
