
/*@import "../../variables/**
@import "../variables/_grid.scss";
@import "../variables/_colors.scss";

/*@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

table{
  width: 100%;
  font-size: Arial;
  thead{
    tr{
      th{
        background-color: $pc-blue;
        border: 1px solid;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        text-transform: capitalize;
      }
    }
  }
  tbody{
    tr{
      td{
        border: 1px solid #000;
        color: #0000ff;
        padding: 10px;
        text-decoration: underline;
      }
    }
  }
}*/
