
@import "../../variables/**/*";
@import "../variables/_grid.scss";
@import "../variables/_colors.scss";

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

html{
    color: $pc-gray;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 8pt;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: $sc-red;
}

a{
  color: $pc-blue;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.fa{
  margin-right: 5px;
}

.l-main{
  .l-content{
    h1,h2,h3,h4,h5,h6{
      margin-bottom: 10px;
      margin-top:10px;
    }

    p{
      margin-top: 0px;
    }
  }
}
