// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){

  }
  @include breakpoint ($tablet){

  }
  @include breakpoint ($desktop){
    .l-main{
      margin: 0 15px;

      h1{
        font-weight: bold;
        margin-bottom: 20px;
      }

      .announcements{
        .views-row{
          display: inline-block;
          width: 23%;
          margin-right: 2%;

          a{
            color: #20558A;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            text-align: left;

            &:hover{
              text-decoration: underline;
            }
          }

          &.views-row-last{
            margin-right: 0;
          }
        }
      }

      .block--book-ads{
        .container-books{
          a{
            display: inline-block;
            text-align: center;
            width: 16.5%;
            img{
              margin: 0 auto;
            }
          }
        }

        .container-link{
          font-size: 15px;
          font-weight: bold;
          margin: 15px 0;
          text-align: right;
          a{
            background-image: url("../../../images/arrow-blue-right.png");
            background-position: right center;
            background-repeat: no-repeat;
            color: #20558a;
            padding-right: 16px;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }

   .column-third{
      display: inline-block;
      height: 350px;
      vertical-align: top;
      width: 32%;
      color: #ffffff;
      margin: 0 14px 20px 0;
      padding: 0 15px;
      border: 1px solid rgb(32, 85, 138);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: $pc-blue; /* Old browsers */
      background: -moz-linear-gradient(top,  #20558a 0%, #5f9baf 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20558a), color-stop(100%,#5f9baf)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #20558a 0%,#5f9baf 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #20558a 0%,#5f9baf 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #20558a 0%,#5f9baf 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #20558a 0%,#5f9baf 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20558a', endColorstr='#5f9baf',GradientType=0 ); /* IE6-9 */

      -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);

      .block__content{
        .view-content{
          height: 245px;
        }
        .more-link{
          display: block;
          text-align: left;
          a{
            font-weight: bold;
          }
        }
      }

      h2{
        color: white;
        font-family: Myriad Pro Semibold;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        padding: 20px 0;
      }

      .more-link{
        display: block;
        text-align: left;
        a{
          font-weight: bold;
        }
      }

      p {
        font-size: 1.4em;
      }

      a{
        /*font-size: 13px;
        color: #fff;*/
        text-decoration: none;
        font-size: 14px;
        color: #ffffff;
        &:hover{
          text-decoration: underline;
        }
      }

      ul{
        display: inline-block;
        font-size: 15px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 243px;
        padding: 0;
        li{
              float: left;
              list-style: outside none none;
              margin-bottom: 10px;
              margin-right: 1%;
              width: 49%;
        }
      }

      .views-row{
        margin-bottom: 20px;

        .field--name-field-training-date{
          font-style: italic;
        }
      }



      &.block--views-latest-blogs-block-1{
        margin-right: 0px;
      }
    }
  }
}
