// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";



@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-header-wrapper,
.l-main-wrapper,
.l-footer-wrapper{
  @include clearfix;
}

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){
    width: $smartphone;
  }
  @include breakpoint ($tablet){
    width: $tablet;
  }
  @include breakpoint ($desktop){
    width: $desktop;

    .l-main{
      margin: 0 15px 15px;
      clear: both;
      .l-content{
        h1{
          margin-top: 0;
        }
      }
      .l-region--sidebar-first{
        .bean-menu{
          ul{
            margin: 0;
            padding: 0;
            li{
              margin: 0;
              padding: 0;
              list-style: none;
              a{
                border-bottom: 2px solid $oc-blue;
                color: $pc-blue;
                display: block;
                padding: 10px 0 10px 5px;
                width: 100%;
                &:hover,
                &.active{
                  color: #ffffff;
                  background-color: $oc-blue;
                  text-decoration: none;
                }
              }
            }
          }
        }

        .block--views-latest-blogs-block-3{
          .views-row{
            margin: 20px 0;
          }
        }

        .block--views-categories-block,
        .block--views-post-by-date-block{
          ul{
            margin: 0;
            padding: 0;
            li{
              margin: 10px 0;
              padding: 0;
              list-style: none;
              a{
              }
            }
          }
        }

        .staff-profile-sidebar-left{
          h2{
            color: $sc-red;
          }

          .field--name-field-staff-position{
            margin-bottom: 10px;
            font-weight: bold;
          }
          .field--name-field-staff-address{
            margin-bottom: 10px;
          }
        }
      }
      .l-region--sidebar-second{
        .staff-profile-sidebar-right{
          .views-row{
            .field__item{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
