// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-header-wrapper,
.l-main-wrapper,
.l-footer-wrapper{
  @include clearfix;
}

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){
    width: $smartphone;
  }
  @include breakpoint ($tablet){
    width: $tablet;
  }
  @include breakpoint ($desktop){
    width: $desktop;

    .l-main{
      margin: 0 15px 15px;
      clear: both;
      .l-content{
        @include grid-span(6,4);
      }
      .l-region--sidebar-first{
        @include grid-span(3,1);
        padding-right: 20px;
      }
      .l-region--sidebar-second{
        @include grid-span(3,10);
        padding-left: 20px;
      }
    }
  }
}
