// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";



@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){

  }
  @include breakpoint ($tablet){


  }
  @include breakpoint ($desktop){

      .l-main{
        margin: 0 15px;

        .announcements{
          .views-row{
            display: inline-block;
            width: 23%;
            margin-right: 2%;

            a{
              color: #20558A;
              font-size: 25px;
              font-weight: bold;
              text-decoration: none;
              text-align: left;

              &:hover{
                text-decoration: underline;
              }
            }

            &.views-row-last{
              margin-right: 0;
            }
          }
        }

        .block--book-ads{
          .container-books{
            a{
              display: inline-block;
              text-align: center;
              width: 16.5%;
              img{
                margin: 0 auto;
              }
            }
          }

          .container-link{
            font-size: 15px;
            font-weight: bold;
            margin: 15px 0;
            text-align: right;
            a{
              background-image: url("../../../images/arrow-blue-right.png");
              background-position: right center;
              background-repeat: no-repeat;
              color: #20558a;
              padding-right: 16px;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
  }
}
