/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
    .l-page {
      width: 990px; }
      /* line 30, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
      .l-page .l-main {
        margin: 0 15px 15px;
        clear: both; }
        /* line 33, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
        .l-page .l-main .l-header-content {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; }
          /* line 36, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-header-content .search-result-header {
            border: 1px solid #616265;
            border-bottom: none; }
            /* line 39, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .search-result-header h2 {
              background-color: #616265;
              color: #fff;
              font-size: 28px;
              margin: 0;
              padding: 5px; }
            /* line 47, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .search-result-header h3 {
              margin-top: 0px; }
            /* line 51, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .search-result-header p {
              margin: 1em;
              margin-bottom: 0px; }
          /* line 57, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-header-content .block--nihl-forms {
            border: 1px solid #616265;
            border-top: none;
            margin-bottom: 20px; }
            /* line 62, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .block--nihl-forms h2 {
              display: none; }
            /* line 66, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .block--nihl-forms form {
              padding: 14px; }
              /* line 69, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-header-content .block--nihl-forms form .form-item.form-type-textfield.form-item-text-to-search,
              .l-page .l-main .l-header-content .block--nihl-forms form .form-item.form-type-select.form-item-site-to-search,
              .l-page .l-main .l-header-content .block--nihl-forms form .form-submit {
                display: inline-block; }
              /* line 75, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-header-content .block--nihl-forms form .form-item.form-type-textfield.form-item-text-to-search {
                width: 48%;
                margin-right: 3%; }
                /* line 78, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
                .l-page .l-main .l-header-content .block--nihl-forms form .form-item.form-type-textfield.form-item-text-to-search input {
                  border: 1px solid #5f9baf;
                  box-shadow: none;
                  padding: 5px;
                  width: 100%; }
              /* line 85, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-header-content .block--nihl-forms form .form-item.form-type-select.form-item-site-to-search {
                width: 48%; }
                /* line 87, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
                .l-page .l-main .l-header-content .block--nihl-forms form .form-item.form-type-select.form-item-site-to-search select {
                  border: 1px solid #5f9baf;
                  box-shadow: none;
                  padding: 5px;
                  width: 100%; }
              /* line 94, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-header-content .block--nihl-forms form .form-submit {
                background-color: #20558a;
                border: medium none;
                border-radius: 7px;
                color: #ffffff;
                font-weight: bold;
                margin-left: 90%;
                padding: 10px 15px; }
          /* line 107, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-header-content .facet-glossary ul {
            margin-bottom: 20px;
            padding: 0; }
            /* line 110, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li {
              display: inline-block;
              padding: 5px 0;
              text-align: center; }
              /* line 114, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-header-content .facet-glossary ul li.active {
                border: 1px solid; }
              /* line 119, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-header-content .facet-glossary ul li a {
                background: transparent none repeat scroll 0 0;
                border: 1px solid #ffffff;
                color: #000;
                display: block;
                padding: 5px 0;
                width: 100%; }
                /* line 126, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
                .l-page .l-main .l-header-content .facet-glossary ul li a .counter {
                  display: none; }
                /* line 129, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
                .l-page .l-main .l-header-content .facet-glossary ul li a.facetapi-tabs-active.active {
                  display: none; }
                /* line 132, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
                .l-page .l-main .l-header-content .facet-glossary ul li a:hover {
                  border: 1px solid #000000;
                  text-decoration: none; }
            /* line 139, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(1),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(1) ~ li {
              width: 100%; }
            /* line 144, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(2),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(2) ~ li {
              width: 49.7%; }
            /* line 149, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(3),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(3) ~ li {
              width: 33%; }
            /* line 154, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(4),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(4) ~ li {
              width: 24.6%; }
            /* line 159, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(5),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(5) ~ li {
              width: 19.6%; }
            /* line 164, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(6),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(6) ~ li {
              width: 16.3%; }
            /* line 169, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(7),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(7) ~ li {
              width: 13.9%; }
            /* line 174, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(8),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(8) ~ li {
              width: 12.1%; }
            /* line 179, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(9),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(9) ~ li {
              width: 10.7%; }
            /* line 184, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(10),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(10) ~ li {
              width: 9.6%; }
            /* line 189, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(11),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(11) ~ li {
              width: 8.7%; }
            /* line 194, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(12),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(12) ~ li {
              width: 6.7%; }
            /* line 199, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(13),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(13) ~ li {
              width: 7.3%; }
            /* line 204, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(14),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(14) ~ li {
              width: 6.7%; }
            /* line 209, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(15),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(15) ~ li {
              width: 6.7%; }
            /* line 214, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(16),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(16) ~ li {
              width: 5.8%; }
            /* line 219, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(17),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(17) ~ li {
              width: 5.45%; }
            /* line 224, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(18),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(18) ~ li {
              width: 6.7%; }
            /* line 229, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(19),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(19) ~ li {
              width: 6.7%; }
            /* line 234, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(20),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(20) ~ li {
              width: 6.7%; }
            /* line 239, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(21),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(21) ~ li {
              width: 6.7%; }
            /* line 244, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(22),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(22) ~ li {
              width: 6.7%; }
            /* line 249, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(23),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(23) ~ li {
              width: 6.7%; }
            /* line 254, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(24),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(24) ~ li {
              width: 13.9%; }
            /* line 259, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(25),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(25) ~ li {
              width: 6.7%; }
            /* line 264, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(26),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(26) ~ li {
              width: 6.7%; }
            /* line 269, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(27),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(27) ~ li {
              width: 7.3%; }
            /* line 274, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(28),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(28) ~ li {
              width: 6.7%; }
            /* line 279, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(29),
            .l-page .l-main .l-header-content .facet-glossary ul li:first-child:nth-last-child(29) ~ li {
              width: 6.7%; }
        /* line 286, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
        .l-page .l-main .l-content {
          width: 74.57627%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; }
          /* line 288, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-content h1,
          .l-page .l-main .l-content h2,
          .l-page .l-main .l-content .tabs.tabs--primary.links--inline,
          .l-page .l-main .l-content .search-form,
          .l-page .l-main .l-content .spelling-suggestions {
            display: none; }
          /* line 296, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-content article {
            border-bottom: 1px dotted #20558A;
            margin-bottom: 15px;
            padding-bottom: 15px; }
            /* line 300, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-content article h3 {
              margin-top: 0px;
              margin-bottom: 5px;
              font-size: 16px; }
            /* line 305, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-content article p {
              margin-bottom: 0px; }
              /* line 307, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-content article p.content-type {
                color: #20558A; }
          /* line 312, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-content .pager {
            text-align: right; }
            /* line 314, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-content .pager .pager__item {
              border: 1px solid;
              border-radius: 5px; }
              /* line 317, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-content .pager .pager__item.pager__item--current {
                background-color: #5F9BAF;
                color: #ffffff; }
              /* line 321, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
              .l-page .l-main .l-content .pager .pager__item.pager__item--next, .l-page .l-main .l-content .pager .pager__item.pager__item--last, .l-page .l-main .l-content .pager .pager__item.pager__item--first, .l-page .l-main .l-content .pager .pager__item.pager__item--previous {
                border: none; }
        /* line 330, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
        .l-page .l-main .l-region--sidebar-first {
          width: 23.72881%;
          float: left;
          margin-right: -100%;
          margin-left: 0;
          clear: none;
          padding-right: 20px; }
          /* line 334, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-region--sidebar-first h2 {
            font-size: 16px;
            margin-bottom: 0px; }
          /* line 341, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
          .l-page .l-main .l-region--sidebar-first .block--facetapi ul,
          .l-page .l-main .l-region--sidebar-first .block__content ul {
            padding: 0px;
            margin-top: 5px; }
            /* line 344, ../../../sass/layouts/twocolumnhsc/twocolumnhsc.layout.scss */
            .l-page .l-main .l-region--sidebar-first .block--facetapi ul li,
            .l-page .l-main .l-region--sidebar-first .block__content ul li {
              list-style: none;
              margin-bottom: 5px; } }

/*# sourceMappingURL=twocolumnhsc.layout.css.map */
