.l-main-wrapper{
  .l-page{
    background-image: url("../images/mainPageBgPattern.png");
    background-position: center top;
    background-repeat: repeat-y;
    padding: 0 9px;

    .l-main{
      font-size: 14px;
      min-height: 500px;
    }
  }
  @include breakpoint ($smartphone){  }
  @include breakpoint ($tablet){  }
  @include breakpoint ($desktop){
  }
}
