.number-features-4{
  @include breakpoint ($smartphone){
    .views-row{
      display: inline-table;
      margin: 0 0.5em 20px;
      width: 23%;

      .feature-img {
        margin-bottom: 5px;

        a{
          display: block;
          text-align: center;
          img{
            width: 80%;
          }
        }
      }

      .feature-title{
        a{
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
  @include breakpoint ($tablet){
    .views-row{
      display: inline-table;
      margin: 0 0.5em 20px;
      width: 23%;

      .feature-img {
        margin-bottom: 5px;

        a{
          display: block;
          text-align: center;
          img{
            width: 80%;
          }
        }
      }

      .feature-title{
        a{
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
  @include breakpoint ($desktop){
    .views-row{
      display: inline-table;
      margin: 0 0.5em 20px;
      width: 23%;

      .feature-img {
        margin-bottom: 5px;

        a{
          display: block;
          text-align: center;
          img{
            width: 80%;
          }
        }
      }

      .feature-title{
        text-align: center;
        a{
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}

.number-features-3{

  @include breakpoint ($smartphone){  }
  @include breakpoint ($tablet){  }
  @include breakpoint ($desktop){
    .views-row{
      width: 32%;
      display: inline-block;

      a{
        display: block;
        font-size: 2.5em;
        font-weight: bold;
        margin: 0 1%;
        text-align: center;
        width: 100%;

        img{
          width: 80%;
        }

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.number-features-2{

  @include breakpoint ($smartphone){  }
  @include breakpoint ($tablet){  }
  @include breakpoint ($desktop){
    .views-row{
      width: 49%;
      display: inline-block;

      .feature-img,
      .feature-title{
        float: left;
        width: 49%;
      }

      .feature-title{
        margin: 20% 1%;
      }

      a{
        display: block;
        font-size: 2em;
        font-weight: bold;
        margin: 0 1%;
        text-align: center;
      }
    }
   }
}

.number-features-1{

  @include breakpoint ($smartphone){  }
  @include breakpoint ($tablet){  }
  @include breakpoint ($desktop){
    .views-row{
      width: 99%;
      display: inline-block;

      .feature-img,
      .feature-title{
        float: left;
        width: 49%;
      }

      .feature-img{
        width: 30%;
      }

      .feature-title{
        margin: 10% 1%;
        width: 67%;
      }

      a{
        font-size: 4em;
        font-weight: bold;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
