@import "../variables/_colors.scss";

.l-main-wrapper{
  @include breakpoint ($smartphone){
    /*.social-link{
      text-align: center;
      margin-bottom: 30px;
      clear: both;

      a{
        color: #004fba;
        text-decoration: none;
        font-size: 15px;
        &:hover{
          text-decoration:underline;
        }
      }

      .column-fourth{
        background-color: transparent;
        border: 1px solid $oc-blue;
        border-right: none;
        border-left: none;
        display: inline-block;
        height: 70px;
        margin-left: -5px;
        padding: 26px 0;
        vertical-align: middle;
        width: 100%;

        &.first-column{
          border-left: none;
        }

        &.fourth-column{
          border-right: none;
        }
      }

      .contact-us,
      .email-updates{
        background-image: url("../images/mail.png");
        background-position: left center;
        background-repeat: no-repeat;
        height: 25px;
        padding-left: 30px;
      }

      .icon{
        background-image: url("../images/icon_facebook.png");
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 25px;
        margin: -5px 0 0;
        text-indent: -9999%;
        width: 25px;
      }

      .icon-tw{
        background-image: url("../images/icon_tweeter.png");
      }

      .icon-yt{
        background-image: url("../images/youtube.jpg");
      }

      .icon-fc{
        background-image: url("../images/flickr.jpg");
      }
    }
    .hours{
      color: #555555;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 12px;
      margin: 0;
      text-align: center;
      white-space: pre-line;
    }*/
  }
  @include breakpoint ($tablet){
    /*.social-link{
      text-align: center;
      margin-bottom: 30px;
      clear: both;

      a{
        color: #004fba;
        text-decoration: none;
        font-size: 15px;
        &:hover{
          text-decoration:underline;
        }
      }

      .column-fourth{
        background-color: transparent;
        border: 1px solid;
        display: inline-block;
        height: 70px;
        margin-left: -5px;
        padding: 26px 0;
        vertical-align: middle;
        width: 100%;
      }

      .contact-us,
      .email-updates{
        background-image: url("../images/mail.png");
        background-position: left center;
        background-repeat: no-repeat;
        height: 25px;
        padding-left: 30px;
      }

      .icon{
        background-image: url("../images/icon_facebook.png");
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 25px;
        margin: -5px 0 0;
        text-indent: -9999%;
        width: 25px;
      }

      .icon-tw{
        background-image: url("../images/icon_tweeter.png");
      }

      .icon-yt{
        background-image: url("../images/youtube.jpg");
      }

      .icon-fc{
        background-image: url("../images/flickr.jpg");
      }
    }
    .hours{
      color: #555555;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 12px;
      margin: 0;
      text-align: center;
      white-space: pre;
    }*/
  }
  @include breakpoint ($desktop){
    .social-link{
      text-align: center;
      margin-bottom: 30px;
      clear: both;
      font-size: 0;
      a{
        color: #004fba;
        text-decoration: none;
        font-size: 15px;
        &:hover{
          text-decoration:underline;
        }
      }

      .column-fourth{
        background-color: transparent;
        border-top: 1px solid $oc-blue;
        border-bottom: 1px solid $oc-blue;
        border-right: 1px solid $oc-blue;
        border-left: none;
        display: inline-block;
        height: 70px;
        padding: 26px 0;
        vertical-align: middle;
        width: 25%;

        &.fourth-column{
          border-right: none;
        }
      }

      .contact-us,
      .email-updates{
        background-image: url("../images/mail.png");
        background-position: left center;
        background-repeat: no-repeat;
        height: 25px;
        padding-left: 30px;
      }

      .icon{
        background-image: url("../images/icon_facebook.png");
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 25px;
        margin: -5px 0 0;
        text-indent: -9999%;
        width: 25px;
      }

      .icon-tw{
        background-image: url("../images/icon_tweeter.png");
      }

      .icon-yt{
        background-image: url("../images/youtube.jpg");
      }

      .icon-fc{
        background-image: url("../images/flickr.jpg");
      }
    }
    .hours{
      color: #555555;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 12px;
      margin: 0;
      text-align: center;
      white-space: pre;
    }
  }
}

.l-footer-wrapper{
  @include breakpoint ($smartphone){
    background-color: $pc-blue;
    border-top: 5px solid $ors-gold;
    color: #ffffff;
    .l-page{
      ul{
        list-style: outside none none;
        margin: 0;
        padding: 10px 25px;
        li{
          list-style: outside none none;
          margin: 0 0 5px;
          a{
            color: #FFFFFF;
            font-size: 16px;
            font-weight: lighter;
            line-height: 20px;
            &.active{
              color: #FFFFFF;
              text-decoration: none;
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
   /*.ask-us{
      background-color: transparent;
      position: fixed;
      right: -28px;
      top: 50%;
      transform: rotate(270deg);
      a{
        background-color: #20558a;
        background-image: url("../images/buttons-askus.jpg");
        background-position: center center;
        color: transparent;
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        height: 60px;
        margin: 0;
        padding: 15px 25px;
        right: -15px;
        text-decoration: none;
        top: 181px;
        width: 119px;
        &:hover{
          background-color: rgb(235, 245, 245);
          color: transparent;
          text-decoration: none;
        }
      }
    }*/
    }
  }
  @include breakpoint ($tablet){
    background-image: url("../images/footerRibbon.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    border-top: none;
    text-align: center;
    font-size: 11.25px;

    .l-page{
      background-image: none;
      background-position: center top;
      background-repeat: no-repeat;
      height: 90px;
      margin-bottom: 15px;
      overflow: hidden;
      padding-top: 15px;

      ul{
        text-align: center;
        padding: 0 85px;
        li{
                  border-right: 1px solid #ffffff;
                  display: inline-block;
                  margin: 5px 5px 0 0;
                  padding: 0 10px 0 0;

          &.last{
            border-right: none;
          }

          a{
            color: #ffffff;
            text-decoration: none;
            font-size: 12px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }

    /*.ask-us{
      background-color: transparent;
      position: fixed;
      right: -28px;
      top: 50%;
      transform: rotate(270deg);
      a{
        background-color: #20558a;
        background-image: url("../images/buttons-askus.jpg");
        background-position: center center;
        color: transparent;
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        height: 60px;
        margin: 0;
        padding: 15px 25px;
        right: -15px;
        text-decoration: none;
        top: 181px;
        width: 119px;
        &:hover{
          background-color: rgb(235, 245, 245);
          color: transparent;
          text-decoration: none;
        }
      }
    }*/
  }
  @include breakpoint ($desktop){
    background-image: url("../images/footerRibbon.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    border-top: none;
    text-align: center;
    font-size: 11.25px;

    .l-page{
      background-image: url("../images/footContainerBg.png");
      background-position: center top;
      background-repeat: no-repeat;
      height: 130px;
      margin-bottom: 15px;
      overflow: hidden;
      padding-top: 15px;
      ul{
        text-align: center;
        padding: 0 85px;
        li{
                  border-right: 1px solid #ffffff;
                  display: inline-block;
                  margin: 5px 5px 0 0;
                  padding: 0 10px 0 0;

          &.last{
            border-right: none;
          }

          a{
            color: #ffffff;
            font-size: 12px;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
    .ask-us{
      background-color: #616266;
      height: 66px;
      position: fixed;
      right: -26px;
      top: 50%;
      transform: rotate(270deg);
      p{
        margin: 0px;
        padding: 0px;
        a{
          border: 2px solid #ffffff;
          color: #ffffff;
          display: block;
          font-size: 25px;
          font-weight: bold;
          margin: 5px;
          padding: 10px;
          text-transform: capitalize;
          &:hover{
            text-decoration:none;
          }
        }
      }
    }
  }
}
