.l-header-wrapper{
  @include breakpoint ($smartphone){
    background-image: url("../images/brandBG.jpg");
    background-position: center -59px;
    background-repeat: repeat-x;
    .l-header{

    }
    .l-sub-header{
      height: 33px;
      .l-ors_home{
        @include grid-span(6,1);
        div.sf-accordion-toggle.sf-style-libnih{
          display: none;
        }
        li.sf-clone-parent{
          display: none;
        }
      }
      .l-search{
         @include grid-span(6,7);
         text-align: right;

        .form-text{
          font-size: 11px;
          font-style: italic;
          margin-top: 3px;
          padding: 3px 3px 2px;
          width: 125px;
          -webkit-appearance: none;
        }

        .form-submit{
          background-color: #ffffff;
          margin: 5px 0 -5px -5px;
          &:hover{
            background-image:url("/sites/all/themes/librarynih/images/gosearchhover15.png");
          }
        }
      }
    }
  }
  @include breakpoint ($tablet){
    background-image: url("../images/brandBG.jpg");
    background-position: center -20px;
    background-repeat: repeat-x;
    .l-header{
      height: 68px;
    }
    .l-sub-header{
      height: 31px;
      .l-ors_home{
        font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

        .sf-menu li:hover > ul,
        .sf-menu li.sfHover > ul {
          left: 0.7em;
          top: 3.1em;
        }

        ul{
          li{
            ul{
              li{
                &.first{
                  a{
                    padding-top: 20px;
                  }
                }
                &.last{
                  a{
                    padding-bottom: 20px;
                  }
                }
                a{
                  border: none;
                  color:#20558a;
                  font-weight: bold;
                  &:hover{
                    color:#ffffff;
                  }
                }
              }
            }
          }
        }
      }
      .l-search{
        @include grid-span(6,7);
        text-align: right;
        margin-right: 35px;

        .form-text{
          font-style: italic;
          margin-top: 3px;
          padding: 3px 3px 2px;
          width: 170px;
          -webkit-appearance: none;
        }

        .form-submit{
          background-color: #ffffff;
          margin: 5px 0 -5px -5px;
          &:hover{
            background-image:url("/sites/all/themes/librarynih/images/gosearchhover15.png");
          }
        }
      }
    }
  }
  @include breakpoint ($desktop){
    background-image: url("../images/brandBG.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    .l-header{
      height: 88px;
    }
    .l-sub-header{
      background-image: url("../images/NavRibbon.jpg");
      height: 31px;
      .l-ors_home{
        font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

        .sf-menu li:hover > ul,
        .sf-menu li.sfHover > ul {
          left: 0.7em;
          top: 3.1em;
        }

        ul{
          li{
            ul{
              li{
                &.first{
                  a{
                    padding-top: 20px;
                  }
                }
                &.last{
                  a{
                    padding-bottom: 20px;
                  }
                }
                a{
                  border: none;
                  color:#20558a;
                  font-weight: bold;
                  &:hover{
                    color:#ffffff;
                  }
                }
              }
            }
          }
        }
      }
      .l-search{
        @include grid-span(6,7);
        text-align: right;
        margin-right: 35px;

        .form-text{
          border: medium none;
          font-style: italic;
          height: 19px;
          margin-top: 3px;
          padding: 3px 3px 2px;
          width: 170px;
          -webkit-appearance: none;
        }

        .form-submit{
          background-color: #ffffff;
          margin: 5px 0 -5px -5px;
          &:hover{
            background-image:url("/sites/all/themes/librarynih/images/gosearchhover15.png");
          }
        }
      }
    }
  }
}
