@import "../variables/_colors.scss";

.l-navigation{
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;

  /*@include breakpoint ($smartphone){
    .tb-megamenu{

      button.btn.btn-navbar.tb-megamenu-button{
        background-color: #ffffff;
        background-image: url("../images/menu-mobile.png");
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: none;
        color: #ffffff;
        height: 45px;
        width: 45px;
      }
      a{
        color: #FFFFFF;
      }
      .nav-collapse{
        background-color: $pc-blue;

        .dropdown-menu{
          background-color: #FFFFFF;
          color: $pc-blue;
          border-right: 1px solid;
          border-left: 1px solid;

          h2{
            margin-top: 0px;
            margin-bottom: 10px;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              margin: 0;
              padding: 0;
              a{
                color:$pc-blue;
                padding: 0;
                margin: 0;
              }
            }
          }
        }

        .nav > li.active > a:hover,
        .nav > li.active > a:focus {
          background-color: $pc-blue;
        }


      }

      .nav > .active > a,
      .nav > .active > a:hover,
      .nav > .active > a:focus{
        background-color: $pc-blue;
        color: #FFFFFF;
      }

      .nav li.dropdown.open > .dropdown-toggle {
        background-color: $pc-blue;
        color: #ffffff;
      }
    }
  }*/
  @include breakpoint ($tablet){  }
  @include breakpoint ($desktop){
    a{
      text-decoration: none;
    }
    .tb-megamenu {
      background-color: transparent;
      background-image: url("../images/menubg.png");
      background-repeat: repeat-x;
      height: 38px;

      .nav > li{
        border-right: 1px solid #000;
      }

      .nav > li.last-item{
        border-right: none;
      }

      .nav > li > a {
        border: 5px solid transparent;
        color: #fff;
        font-size: 1.4em;
        font-weight: lighter;
        padding: 4px 19px;
        text-shadow: none;

        &:hover,
        &:focus{
          background-color: transparent;
        }
      }

      .nav > li.last-item > a{
        border-right: none;
        padding: 4px 30px;
      }

      .nav > .active > a,
      .nav > .active > a:hover,
      .nav > .active > a:focus {
        background-color: transparent;
        background-repeat: repeat-x;
        box-shadow: none;
        color: #fff;
        outline: medium none;
        text-shadow: none;
      }

      .mega.open > .mega-dropdown-menu,
      .mega.dropdown-submenu:hover > .mega-dropdown-menu {
        display: block;
        z-index: 99;
      }

      .mega-dropdown-inner{
        h2{
          color: #996c36;
          font: 17px Georgia,"Times New Roman",Times,serif;
          margin-bottom: 10px;
        }
        ul{
          li{
            margin-bottom: 10px;
            a{
              color: #004fba;
              font-size: 13px;
              font-weight: 200;
              &:hover{
                color: #a00000;
                text-decoration: none;
              }
            }
          }
        }

        .custom-search{
          .form-item-text-to-search,
          .form-item-site-to-search{
            display: inline-block;
            width: 100%;
            .form-text,
            .form-select{
              width: 100%;
              border-radius: 5px;
              height: 30px;
            }

          }
          .form-submit{
            background-color: #20558a;
            border: medium none;
            border-radius: 7px;
            color: #ffffff;
            font-weight: bold;
            padding: 10px 15px;
          }
        }

        .custom-login{
          .form-submit{
            background-color: #20558a;
            border: medium none;
            border-radius: 7px;
            color: #ffffff;
            font-weight: bold;
            padding: 10px 15px;
          }
        }
      }

      .nav li.dropdown > .dropdown-toggle .caret{
        border-top-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
      }

      .nav li.dropdown.open > .dropdown-toggle {
        background-color: #fff;
        color: #004fba;
        border: 5px solid #a1a1a1;
        border-bottom: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        /*z-index: 101;
        padding: 10px 10px 4px;
        position: relative;*/
      }
      .nav li.dropdown.active > .dropdown-toggle{
        background-color: transparent;
        color: #fff;
        border: 5px solid transparent;
        border-bottom: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      .nav li.dropdown.open.active > .dropdown-toggle {
        background-color: #ffffff;
        color: $pc-blue;
        border: 5px solid #a1a1a1;
        border-bottom: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }

      .dropdown-menu {
        border-right: 5px solid #a1a1a1;
        border-left: 5px solid #a1a1a1;
        border-bottom: 5px solid #a1a1a1;
        border-top: 5px solid #a1a1a1;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

        .block--menu,
        .block--block-8{
          border-right: 1px solid #d7d7d7;

          &.block--menu-menu-browse-all-research-tools,
          &.block--menu-menu-services,
          &.block--menu-menu-training,
          &.block--menu-menu-policies-procedures{
            border-right: none;
          }
        }
      }

      input[type="text"],
      input[type="submit"]{
        display: inline-block;
        width: 45%;
      }

      select {
        background-color: #fff;
        border: 1px solid #bbb;
        width: 180px;
      }

      .last-item{
        .remote-access{
          a{
            padding: 30px 0;
            color: $pc-blue;

            &:hover{
              color: #a00000;
            }
          }
        }
      }

      .nav-collapse .dropdown-menu {
        background-color: #ffffff;
        border-left: 5px solid #a1a1a1;
        border-right: 5px solid #a1a1a1;
        color: #20558a;
      }

      .nav-collapse .dropdown-menu ul li {
        margin-bottom: 10px
;      }
    }
  }
}
