.l-region--sidebar-first,
.l-region--sidebar-second{
  .block{
    @include breakpoint ($smartphone){  }
    @include breakpoint ($tablet){  }
    @include breakpoint ($desktop){


      /*background-color: #ffffff;
      border-color: #20558a;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 8px 6px -6px #aaaaaa;
      margin-bottom: 1em;

      h2{
        background-color: #dfdfdf;
        background-image: none;
        border-bottom: 1px solid #20558a;
        border-radius: 3px 3px 0 0;
        color: #20558a;
        font-size: 12px;
        margin: 0;
        padding: 5px;
      }

      .block__content{
        padding: 5px;
      }*/
    }
  }

  h2{
    margin-top: 0px;
  }

  .point-of-contact-sidebar{
    .views-row{
      .field--name-field-image{
        margin-bottom: 10px;
      }
    }
  }
}

