<?php

/**
 * Implements hook_permission().
 */
function graficas_permission() {
  return array(
    'ver graficas' => array(
      'title' => t('Graficas'),
      'description' => t('Ver graficas de preguntas.'),
    ),	
  );
}

/**
 * Implements hook_menu().
 */
function graficas_menu() {
  $items = array();

  $items['admin/reports/graficas'] = array(
    'title' => 'Graficas',
    'description' => 'Del sitio Contacto Genommalab.',
    'access arguments' => array('ver graficas'), 
    'page callback' => 'graficas_display',
  );

  return $items;
}

/**
 * Implements hook_theme().
 */
function graficas_theme($existing, $type, $theme, $path) {
  return array(
    'graficas_form' => array(
    'render element' => 'form'
    )
  );
}

/**
 * Page callback for report page.
 */
function graficas_display() {
  module_load_include('inc', 'graficas', 'graficas.charts');
  module_load_include('inc', 'graficas', 'graficas.forms');
  module_load_include('inc', 'graficas', 'graficas.tables');
  $form = drupal_get_form('graficas_form');
  $form = drupal_render($form);
  $charts = graficas_get_charts();
  //$tables = graficas_get_tables();
  $visibles = variable_get('chart_visible', array());
  $visibles[] = 'chartQuestions';
  $visibles[] = 'chartQuestionsWithoutAnswers';

  $ret = $form;
  $ret .= graficas_tables();

   
  $ret .= '<div id="charts">';
  foreach ($charts as $chart) {
    if (in_array($chart['id'], $visibles, TRUE)) {
        $ret .= $chart['markup'];  
    }
  }
  $ret .= '</div>';
  return $ret;
}


/**
 * Retrieve the time period or interval from the URL
 */
function _obtener_fecha_de_url() {
  // Get the option
  if (isset($_GET['option'])) {
    switch ($_GET['option']) {
      case 'custom':
        $from = strtotime($_GET['from']);
        $to = strtotime($_GET['to']);
        if (is_numeric($from) && is_numeric($to)) {
          // Move the 'to' date to 1 second before midnight
          return array($from, $to + 86399);
        }
        break;

      case 'period':
        $from = strtotime('-' . str_replace('_', ' ', filter_xss($_GET['period'])));
        if (is_numeric($from)) {
          return array($from, time());
        }
    }
  }
  else {
    return array(strtotime('-1 month'), time());
  }

  return FALSE;
}

function _obtener_marca_de_url(){
  if (isset($_GET['marca'])) {
    if ($_GET['marca'] == 0) {
      return FALSE;
    }
    else {
      return $_GET['marca'];
    }
  }
  else {
    return FALSE;
  }
}


/**
 * Fetch all available graficas charts
 */
function graficas_get_charts() {
  $charts = module_invoke_all('graficas');
  usort($charts, "_ordena_graficas");
  return $charts;
}

/**
 * Utility function for usort in graficas_get_charts();
 */
function _ordena_graficas($a, $b) {
  if ($a['weight'] == $b['weight']) {
    return 0;
  }
  return ($a['weight'] < $b['weight']) ? -1 : 1;
}

/**
 * Implements hook_graficas().
 */
function graficas_graficas() {
  module_load_include('inc', 'graficas', 'graficas.charts');
  return graficas_charts();
}


/**
 * Implements hook_graficas().
 */
/*function graficas_tables() {
  module_load_include('inc', 'graficas', 'graficas.tables');
  return graficas_tables();
}*/

/**
 * Theme wrapper for graficas_form()
 */
function theme_graficas_form($variables) {
  $form = $variables['form'];
  $output = '';

  $output .= '<div id="graficas-page">';

  $output .= '<div class="description">';
  $output .= t('Select a timeframe and click Update to see whats happening on your site during that time, as well as a total for all the activity during that timeframe.');
  $output .= '</div>';

  $output .= '<div class="graficas-option-row">';
  $output .= drupal_render($form['option']['period']);
  $output .= '<span class="description">From:</span>';
  $output .= drupal_render($form['period']);
  $output .= '<span class="description">ago.</span>';
  $output .= '</div>';

  $output .= '<div class="graficas-option-row">';
  $output .= '<span class="description">Marca:</span>';
  $output .= drupal_render($form['marca']);
  $output .= '</div>';

  $output .= '<div class="graficas-option-row">';
  $output .= drupal_render($form['option']['custom']);
  $output .= '<span class="description">From:</span>';
  $output .= drupal_render($form['custom_from']);
  $output .= '<span class="description">To:</span>';
  $output .= drupal_render($form['custom_to']);
  $output .= '<span class="description"><i>Format DD.MM.YYYY</i></span>';
  $output .= '</div>';

  $output .= drupal_render_children($form);

  $output .= '</div>';

  return $output;
}
