/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../sass/layouts/homesite/homesite.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 13, ../../../sass/layouts/homesite/homesite.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 13, ../../../sass/layouts/homesite/homesite.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 13, ../../../sass/layouts/homesite/homesite.layout.scss */
    .l-page {
      width: 990px; }
      /* line 23, ../../../sass/layouts/homesite/homesite.layout.scss */
      .l-page .l-main {
        margin-top: 10px; } }

/*# sourceMappingURL=homesite.layout.css.map */
