/* No files to import found in ../../../variables/**\/* */
/* line 11, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 990px) {
    /* line 20, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
    .l-page .l-main {
      margin: 0 15px; }
      /* line 23, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .l-main h1 {
        font-weight: bold;
        margin-bottom: 20px; }
      /* line 29, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .l-main .announcements .views-row {
        display: inline-block;
        width: 23%;
        margin-right: 2%; }
        /* line 34, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .l-main .announcements .views-row a {
          color: #20558A;
          font-size: 25px;
          font-weight: bold;
          text-decoration: none;
          text-align: left; }
          /* line 41, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
          .l-page .l-main .announcements .views-row a:hover {
            text-decoration: underline; }
        /* line 46, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .l-main .announcements .views-row.views-row-last {
          margin-right: 0; }
      /* line 54, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .l-main .block--book-ads .container-books a {
        display: inline-block;
        text-align: center;
        width: 16.5%; }
        /* line 58, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .l-main .block--book-ads .container-books a img {
          margin: 0 auto; }
      /* line 64, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .l-main .block--book-ads .container-link {
        font-size: 15px;
        font-weight: bold;
        margin: 15px 0;
        text-align: right; }
        /* line 69, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .l-main .block--book-ads .container-link a {
          background-image: url("../../../images/arrow-blue-right.png");
          background-position: right center;
          background-repeat: no-repeat;
          color: #20558a;
          padding-right: 16px;
          text-decoration: none; }
          /* line 76, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
          .l-page .l-main .block--book-ads .container-link a:hover {
            text-decoration: underline; }
    /* line 84, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
    .l-page .column-third {
      display: inline-block;
      height: 350px;
      vertical-align: top;
      width: 32%;
      color: #ffffff;
      margin: 0 14px 20px 0;
      padding: 0 15px;
      border: 1px solid #20558a;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #20558A;
      /* Old browsers */
      background: -moz-linear-gradient(top, #20558a 0%, #5f9baf 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20558a), color-stop(100%, #5f9baf));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #20558a 0%, #5f9baf 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #20558a 0%, #5f9baf 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #20558a 0%, #5f9baf 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #20558a 0%, #5f9baf 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20558a', endColorstr='#5f9baf',GradientType=0 );
      /* IE6-9 */
      -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75); }
      /* line 110, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third .block__content .view-content {
        height: 245px; }
      /* line 113, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third .block__content .more-link {
        display: block;
        text-align: left; }
        /* line 116, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .column-third .block__content .more-link a {
          font-weight: bold; }
      /* line 122, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third h2 {
        color: white;
        font-family: Myriad Pro Semibold;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        padding: 20px 0; }
      /* line 131, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third .more-link {
        display: block;
        text-align: left; }
        /* line 134, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .column-third .more-link a {
          font-weight: bold; }
      /* line 139, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third p {
        font-size: 1.4em; }
      /* line 143, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third a {
        /*font-size: 13px;
        color: #fff;*/
        text-decoration: none;
        font-size: 14px;
        color: #ffffff; }
        /* line 149, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .column-third a:hover {
          text-decoration: underline; }
      /* line 154, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third ul {
        display: inline-block;
        font-size: 15px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 243px;
        padding: 0; }
        /* line 162, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .column-third ul li {
          float: left;
          list-style: outside none none;
          margin-bottom: 10px;
          margin-right: 1%;
          width: 49%; }
      /* line 171, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third .views-row {
        margin-bottom: 20px; }
        /* line 174, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
        .l-page .column-third .views-row .field--name-field-training-date {
          font-style: italic; }
      /* line 181, ../../../sass/layouts/homesite/nih-homesite.layout.scss */
      .l-page .column-third.block--views-latest-blogs-block-1 {
        margin-right: 0px; } }

/*# sourceMappingURL=nih-homesite.layout.css.map */
