// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";



@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-header-wrapper,
.l-main-wrapper,
.l-footer-wrapper{
  @include clearfix;
}

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){
    width: $smartphone;
  }
  @include breakpoint ($tablet){
    width: $tablet;
  }
  @include breakpoint ($desktop){
    width: $desktop;

      .l-main{
        margin: 0 15px 15px;
        clear: both;
          .l-content{
            @include grid-span(9,4);
            h1{
              margin-top: 0px;
            }
          }
          .l-region--sidebar-first{
            @include grid-span(3,1);
            padding-right: 20px;
          }

        .announcements{
          .views-row{
            display: inline-block;
            width: 23%;
            margin-right: 2%;

            a{
              color: #20558A;
              font-size: 25px;
              font-weight: bold;
              text-decoration: none;
              text-align: left;

              &:hover{
                text-decoration: underline;
              }
            }

            &.views-row-last{
              margin-right: 0;
            }
          }
        }

        .block--book-ads{
          .container-books{
            a{
              display: inline-block;
              text-align: center;
              width: 16.5%;
              img{
                margin: 0 auto;
              }
            }
          }

          .container-link{
            font-size: 15px;
            font-weight: bold;
            margin: 15px 0;
            text-align: right;
            a{
              background-image: url("../../../images/arrow-blue-right.png");
              background-position: right center;
              background-repeat: no-repeat;
              color: #20558a;
              padding-right: 16px;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }

     .column-third{
        background-color: #20558A;
        border: 2px solid;
        color: #fff;
        display: inline-block;
        height: 350px;
        margin: 20px 0 20px 8px;
        padding: 30px;
        vertical-align: top;
        width: 32%;

        h2{
          color: #FFF;
        }

        .trainingevent{
          margin-bottom: 5px;
          .eventtitle{
            font-size: 15px;
          }
          .eventdate{
            font-weight: lighter;
            font-style: italic;
          }
        }

        a{
          font-size: 13px;
          color: #fff;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }

        ul{
          display: inline-block;
          font-size: 15px;
          margin-right: 20px;
          padding: 0;
          li{
                float: left;
                list-style: outside none none;
                margin-bottom: 10px;
                margin-right: 1%;
                width: 49%;
          }
        }
      }
  }
}
