/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_forms.scss */
input, textarea, select, button {
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box; }

/* line 10, ../sass/base/_forms.scss */
.node--webform--full input, .node--webform--full textarea, .node--webform--full select, .node--webform--full button,
.registration-form input,
.registration-form textarea,
.registration-form select,
.registration-form button {
  border: solid 1px #5F9BAF;
  box-shadow: none; }
/* line 15, ../sass/base/_forms.scss */
.node--webform--full label,
.registration-form label {
  margin-bottom: 5px; }
/* line 19, ../sass/base/_forms.scss */
.node--webform--full input[type="text"],
.node--webform--full input[type="email"],
.node--webform--full select,
.node--webform--full textarea,
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form select,
.registration-form textarea {
  width: 100%;
  padding: 5px; }
/* line 30, ../sass/base/_forms.scss */
.node--webform--full .form-actions,
.registration-form .form-actions {
  text-align: right;
  margin-top: 20px; }
/* line 35, ../sass/base/_forms.scss */
.node--webform--full .webform-submit,
.node--webform--full .webform-reset,
.node--webform--full .form-submit,
.registration-form .webform-submit,
.registration-form .webform-reset,
.registration-form .form-submit {
  background-color: #20558a;
  border: medium none;
  border-radius: 7px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px; }
/* line 46, ../sass/base/_forms.scss */
.node--webform--full #edit-cancel,
.registration-form #edit-cancel {
  display: none; }
/* line 50, ../sass/base/_forms.scss */
.node--webform--full .webform-reset,
.registration-form .webform-reset {
  margin-left: 20px;
  margin-right: 20px; }
/* line 67, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--first-name,
.node--webform--full .webform-client-form-4 .webform-component--last-name,
.node--webform--full .webform-client-form-5 .webform-component--first-name,
.node--webform--full .webform-client-form-5 .webform-component--last-name,
.node--webform--full .webform-client-form-6 .webform-component--first-name,
.node--webform--full .webform-client-form-6 .webform-component--last-name,
.node--webform--full .webform-client-form-7 .webform-component--first-name,
.node--webform--full .webform-client-form-7 .webform-component--last-name,
.node--webform--full .webform-client-form-8 .webform-component--first-name,
.node--webform--full .webform-client-form-8 .webform-component--last-name,
.node--webform--full .webform-client-form-9 .webform-component--first-name,
.node--webform--full .webform-client-form-9 .webform-component--last-name,
.node--webform--full .webform-client-form-10 .webform-component--first-name,
.node--webform--full .webform-client-form-10 .webform-component--last-name,
.node--webform--full .webform-client-form-11 .webform-component--first-name,
.node--webform--full .webform-client-form-11 .webform-component--last-name,
.node--webform--full .webform-client-form-12 .webform-component--first-name,
.node--webform--full .webform-client-form-12 .webform-component--last-name,
.node--webform--full .webform-client-form-13 .webform-component--first-name,
.node--webform--full .webform-client-form-13 .webform-component--last-name,
.node--webform--full .webform-client-form-14 .webform-component--first-name,
.node--webform--full .webform-client-form-14 .webform-component--last-name,
.node--webform--full .webform-client-form-15 .webform-component--first-name,
.node--webform--full .webform-client-form-15 .webform-component--last-name,
.registration-form .webform-client-form-4 .webform-component--first-name,
.registration-form .webform-client-form-4 .webform-component--last-name,
.registration-form .webform-client-form-5 .webform-component--first-name,
.registration-form .webform-client-form-5 .webform-component--last-name,
.registration-form .webform-client-form-6 .webform-component--first-name,
.registration-form .webform-client-form-6 .webform-component--last-name,
.registration-form .webform-client-form-7 .webform-component--first-name,
.registration-form .webform-client-form-7 .webform-component--last-name,
.registration-form .webform-client-form-8 .webform-component--first-name,
.registration-form .webform-client-form-8 .webform-component--last-name,
.registration-form .webform-client-form-9 .webform-component--first-name,
.registration-form .webform-client-form-9 .webform-component--last-name,
.registration-form .webform-client-form-10 .webform-component--first-name,
.registration-form .webform-client-form-10 .webform-component--last-name,
.registration-form .webform-client-form-11 .webform-component--first-name,
.registration-form .webform-client-form-11 .webform-component--last-name,
.registration-form .webform-client-form-12 .webform-component--first-name,
.registration-form .webform-client-form-12 .webform-component--last-name,
.registration-form .webform-client-form-13 .webform-component--first-name,
.registration-form .webform-client-form-13 .webform-component--last-name,
.registration-form .webform-client-form-14 .webform-component--first-name,
.registration-form .webform-client-form-14 .webform-component--last-name,
.registration-form .webform-client-form-15 .webform-component--first-name,
.registration-form .webform-client-form-15 .webform-component--last-name {
  width: 47%;
  display: inline-block; }
/* line 73, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--first-name,
.node--webform--full .webform-client-form-5 .webform-component--first-name,
.node--webform--full .webform-client-form-6 .webform-component--first-name,
.node--webform--full .webform-client-form-7 .webform-component--first-name,
.node--webform--full .webform-client-form-8 .webform-component--first-name,
.node--webform--full .webform-client-form-9 .webform-component--first-name,
.node--webform--full .webform-client-form-10 .webform-component--first-name,
.node--webform--full .webform-client-form-11 .webform-component--first-name,
.node--webform--full .webform-client-form-12 .webform-component--first-name,
.node--webform--full .webform-client-form-13 .webform-component--first-name,
.node--webform--full .webform-client-form-14 .webform-component--first-name,
.node--webform--full .webform-client-form-15 .webform-component--first-name,
.registration-form .webform-client-form-4 .webform-component--first-name,
.registration-form .webform-client-form-5 .webform-component--first-name,
.registration-form .webform-client-form-6 .webform-component--first-name,
.registration-form .webform-client-form-7 .webform-component--first-name,
.registration-form .webform-client-form-8 .webform-component--first-name,
.registration-form .webform-client-form-9 .webform-component--first-name,
.registration-form .webform-client-form-10 .webform-component--first-name,
.registration-form .webform-client-form-11 .webform-component--first-name,
.registration-form .webform-client-form-12 .webform-component--first-name,
.registration-form .webform-client-form-13 .webform-component--first-name,
.registration-form .webform-client-form-14 .webform-component--first-name,
.registration-form .webform-client-form-15 .webform-component--first-name {
  margin-right: 5%; }
/* line 77, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--phone,
.node--webform--full .webform-client-form-5 .webform-component--phone,
.node--webform--full .webform-client-form-6 .webform-component--phone,
.node--webform--full .webform-client-form-7 .webform-component--phone,
.node--webform--full .webform-client-form-8 .webform-component--phone,
.node--webform--full .webform-client-form-9 .webform-component--phone,
.node--webform--full .webform-client-form-10 .webform-component--phone,
.node--webform--full .webform-client-form-11 .webform-component--phone,
.node--webform--full .webform-client-form-12 .webform-component--phone,
.node--webform--full .webform-client-form-13 .webform-component--phone,
.node--webform--full .webform-client-form-14 .webform-component--phone,
.node--webform--full .webform-client-form-15 .webform-component--phone,
.registration-form .webform-client-form-4 .webform-component--phone,
.registration-form .webform-client-form-5 .webform-component--phone,
.registration-form .webform-client-form-6 .webform-component--phone,
.registration-form .webform-client-form-7 .webform-component--phone,
.registration-form .webform-client-form-8 .webform-component--phone,
.registration-form .webform-client-form-9 .webform-component--phone,
.registration-form .webform-client-form-10 .webform-component--phone,
.registration-form .webform-client-form-11 .webform-component--phone,
.registration-form .webform-client-form-12 .webform-component--phone,
.registration-form .webform-client-form-13 .webform-component--phone,
.registration-form .webform-client-form-14 .webform-component--phone,
.registration-form .webform-client-form-15 .webform-component--phone {
  width: 34%;
  display: inline-block;
  margin-right: 5%; }
/* line 83, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--visitor,
.node--webform--full .webform-client-form-5 .webform-component--visitor,
.node--webform--full .webform-client-form-6 .webform-component--visitor,
.node--webform--full .webform-client-form-7 .webform-component--visitor,
.node--webform--full .webform-client-form-8 .webform-component--visitor,
.node--webform--full .webform-client-form-9 .webform-component--visitor,
.node--webform--full .webform-client-form-10 .webform-component--visitor,
.node--webform--full .webform-client-form-11 .webform-component--visitor,
.node--webform--full .webform-client-form-12 .webform-component--visitor,
.node--webform--full .webform-client-form-13 .webform-component--visitor,
.node--webform--full .webform-client-form-14 .webform-component--visitor,
.node--webform--full .webform-client-form-15 .webform-component--visitor,
.registration-form .webform-client-form-4 .webform-component--visitor,
.registration-form .webform-client-form-5 .webform-component--visitor,
.registration-form .webform-client-form-6 .webform-component--visitor,
.registration-form .webform-client-form-7 .webform-component--visitor,
.registration-form .webform-client-form-8 .webform-component--visitor,
.registration-form .webform-client-form-9 .webform-component--visitor,
.registration-form .webform-client-form-10 .webform-component--visitor,
.registration-form .webform-client-form-11 .webform-component--visitor,
.registration-form .webform-client-form-12 .webform-component--visitor,
.registration-form .webform-client-form-13 .webform-component--visitor,
.registration-form .webform-client-form-14 .webform-component--visitor,
.registration-form .webform-client-form-15 .webform-component--visitor {
  width: 60%;
  display: inline-block; }
/* line 90, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-15 .webform-component--visitor,
.registration-form .webform-client-form-15 .webform-component--visitor {
  width: 100%; }
/* line 94, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-15 .webform-component--phone,
.registration-form .webform-client-form-15 .webform-component--phone {
  width: 100%; }
/* line 100, ../sass/base/_forms.scss */
.node--webform--full .form-item .description,
.registration-form .form-item .description {
  margin-top: 5px; }
/* line 105, ../sass/base/_forms.scss */
.node--webform--full .field-name-field-first-name,
.node--webform--full .field-name-field-last-name,
.registration-form .field-name-field-first-name,
.registration-form .field-name-field-last-name {
  width: 47%;
  display: inline-block; }
/* line 111, ../sass/base/_forms.scss */
.node--webform--full .field-name-field-first-name,
.registration-form .field-name-field-first-name {
  margin-right: 5%; }
/* line 114, ../sass/base/_forms.scss */
.node--webform--full .field-name-field-last-name,
.registration-form .field-name-field-last-name {
  width: 48%; }

/* line 123, ../sass/base/_forms.scss */
.node-type-webform .l-region--sidebar-first h2,
.page-node-16 .l-region--sidebar-first h2 {
  /*color: $pc-gray;*/
  margin-bottom: 0px; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/*@import "../../variables/**
@import "../variables/_grid.scss";
@import "../variables/_colors.scss";

/*@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

table{
  width: 100%;
  font-size: Arial;
  thead{
    tr{
      th{
        background-color: $pc-blue;
        border: 1px solid;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        text-transform: capitalize;
      }
    }
  }
  tbody{
    tr{
      td{
        border: 1px solid #000;
        color: #0000ff;
        padding: 10px;
        text-decoration: underline;
      }
    }
  }
}*/
/* No files to import found in ../../variables/**\/* */
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff"); }
/* line 13, ../sass/base/_typography.scss */
html {
  color: #616265;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 8pt; }

/* line 19, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #BA2020; }

/* line 28, ../sass/base/_typography.scss */
a {
  color: #20558A;
  text-decoration: none; }
  /* line 31, ../sass/base/_typography.scss */
  a:hover {
    text-decoration: underline; }

/* line 36, ../sass/base/_typography.scss */
.fa {
  margin-right: 5px; }

/* line 42, ../sass/base/_typography.scss */
.l-main .l-content h1, .l-main .l-content h2, .l-main .l-content h3, .l-main .l-content h4, .l-main .l-content h5, .l-main .l-content h6 {
  margin-bottom: 10px;
  margin-top: 10px; }
/* line 47, ../sass/base/_typography.scss */
.l-main .l-content p {
  margin-top: 0px; }

/* line 3, ../sass/components/_banner.scss */
.banner {
  background-color: #5F9BAF; }
  /* line 5, ../sass/components/_banner.scss */
  .banner h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 10px 15px; }

/* line 2, ../sass/components/_body.scss */
.l-main-wrapper .l-page {
  background-image: url("../images/mainPageBgPattern.png");
  background-position: center top;
  background-repeat: repeat-y;
  padding: 0 9px; }
  /* line 8, ../sass/components/_body.scss */
  .l-main-wrapper .l-page .l-main {
    font-size: 14px;
    min-height: 500px; }

/* line 3, ../sass/components/_breadcrum.scss */
.breadcrumb {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 5px; }

@media (min-width: 320px) {
  /* line 3, ../sass/components/_features_block.scss */
  .number-features-4 .views-row {
    display: inline-table;
    margin: 0 0.5em 20px;
    width: 23%; }
    /* line 8, ../sass/components/_features_block.scss */
    .number-features-4 .views-row .feature-img {
      margin-bottom: 5px; }
      /* line 11, ../sass/components/_features_block.scss */
      .number-features-4 .views-row .feature-img a {
        display: block;
        text-align: center; }
        /* line 14, ../sass/components/_features_block.scss */
        .number-features-4 .views-row .feature-img a img {
          width: 80%; }
    /* line 21, ../sass/components/_features_block.scss */
    .number-features-4 .views-row .feature-title a {
      font-size: 16px;
      text-align: center; } }
@media (min-width: 768px) {
  /* line 29, ../sass/components/_features_block.scss */
  .number-features-4 .views-row {
    display: inline-table;
    margin: 0 0.5em 20px;
    width: 23%; }
    /* line 34, ../sass/components/_features_block.scss */
    .number-features-4 .views-row .feature-img {
      margin-bottom: 5px; }
      /* line 37, ../sass/components/_features_block.scss */
      .number-features-4 .views-row .feature-img a {
        display: block;
        text-align: center; }
        /* line 40, ../sass/components/_features_block.scss */
        .number-features-4 .views-row .feature-img a img {
          width: 80%; }
    /* line 47, ../sass/components/_features_block.scss */
    .number-features-4 .views-row .feature-title a {
      font-size: 16px;
      text-align: center; } }
@media (min-width: 990px) {
  /* line 55, ../sass/components/_features_block.scss */
  .number-features-4 .views-row {
    display: inline-table;
    margin: 0 0.5em 20px;
    width: 23%; }
    /* line 60, ../sass/components/_features_block.scss */
    .number-features-4 .views-row .feature-img {
      margin-bottom: 5px; }
      /* line 63, ../sass/components/_features_block.scss */
      .number-features-4 .views-row .feature-img a {
        display: block;
        text-align: center; }
        /* line 66, ../sass/components/_features_block.scss */
        .number-features-4 .views-row .feature-img a img {
          width: 80%; }
    /* line 72, ../sass/components/_features_block.scss */
    .number-features-4 .views-row .feature-title {
      text-align: center; }
      /* line 74, ../sass/components/_features_block.scss */
      .number-features-4 .views-row .feature-title a {
        font-size: 16px;
        text-align: center; } }

@media (min-width: 990px) {
  /* line 88, ../sass/components/_features_block.scss */
  .number-features-3 .views-row {
    width: 32%;
    display: inline-block; }
    /* line 92, ../sass/components/_features_block.scss */
    .number-features-3 .views-row a {
      display: block;
      font-size: 2.5em;
      font-weight: bold;
      margin: 0 1%;
      text-align: center;
      width: 100%; }
      /* line 100, ../sass/components/_features_block.scss */
      .number-features-3 .views-row a img {
        width: 80%; }
      /* line 104, ../sass/components/_features_block.scss */
      .number-features-3 .views-row a:hover {
        text-decoration: none; } }

@media (min-width: 990px) {
  /* line 117, ../sass/components/_features_block.scss */
  .number-features-2 .views-row {
    width: 49%;
    display: inline-block; }
    /* line 121, ../sass/components/_features_block.scss */
    .number-features-2 .views-row .feature-img,
    .number-features-2 .views-row .feature-title {
      float: left;
      width: 49%; }
    /* line 127, ../sass/components/_features_block.scss */
    .number-features-2 .views-row .feature-title {
      margin: 20% 1%; }
    /* line 131, ../sass/components/_features_block.scss */
    .number-features-2 .views-row a {
      display: block;
      font-size: 2em;
      font-weight: bold;
      margin: 0 1%;
      text-align: center; } }

@media (min-width: 990px) {
  /* line 147, ../sass/components/_features_block.scss */
  .number-features-1 .views-row {
    width: 99%;
    display: inline-block; }
    /* line 151, ../sass/components/_features_block.scss */
    .number-features-1 .views-row .feature-img,
    .number-features-1 .views-row .feature-title {
      float: left;
      width: 49%; }
    /* line 157, ../sass/components/_features_block.scss */
    .number-features-1 .views-row .feature-img {
      width: 30%; }
    /* line 161, ../sass/components/_features_block.scss */
    .number-features-1 .views-row .feature-title {
      margin: 10% 1%;
      width: 67%; }
    /* line 166, ../sass/components/_features_block.scss */
    .number-features-1 .views-row a {
      font-size: 4em;
      font-weight: bold; }
      /* line 170, ../sass/components/_features_block.scss */
      .number-features-1 .views-row a:hover {
        text-decoration: none; } }

@media (min-width: 320px) {
  /* line 3, ../sass/components/_footer.scss */
  .l-main-wrapper {
    /*.social-link{
      text-align: center;
      margin-bottom: 30px;
      clear: both;

      a{
        color: #004fba;
        text-decoration: none;
        font-size: 15px;
        &:hover{
          text-decoration:underline;
        }
      }

      .column-fourth{
        background-color: transparent;
        border: 1px solid $oc-blue;
        border-right: none;
        border-left: none;
        display: inline-block;
        height: 70px;
        margin-left: -5px;
        padding: 26px 0;
        vertical-align: middle;
        width: 100%;

        &.first-column{
          border-left: none;
        }

        &.fourth-column{
          border-right: none;
        }
      }

      .contact-us,
      .email-updates{
        background-image: url("../images/mail.png");
        background-position: left center;
        background-repeat: no-repeat;
        height: 25px;
        padding-left: 30px;
      }

      .icon{
        background-image: url("../images/icon_facebook.png");
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 25px;
        margin: -5px 0 0;
        text-indent: -9999%;
        width: 25px;
      }

      .icon-tw{
        background-image: url("../images/icon_tweeter.png");
      }

      .icon-yt{
        background-image: url("../images/youtube.jpg");
      }

      .icon-fc{
        background-image: url("../images/flickr.jpg");
      }
    }
    .hours{
      color: #555555;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 12px;
      margin: 0;
      text-align: center;
      white-space: pre-line;
    }*/ } }
@media (min-width: 768px) {
  /* line 3, ../sass/components/_footer.scss */
  .l-main-wrapper {
    /*.social-link{
      text-align: center;
      margin-bottom: 30px;
      clear: both;

      a{
        color: #004fba;
        text-decoration: none;
        font-size: 15px;
        &:hover{
          text-decoration:underline;
        }
      }

      .column-fourth{
        background-color: transparent;
        border: 1px solid;
        display: inline-block;
        height: 70px;
        margin-left: -5px;
        padding: 26px 0;
        vertical-align: middle;
        width: 100%;
      }

      .contact-us,
      .email-updates{
        background-image: url("../images/mail.png");
        background-position: left center;
        background-repeat: no-repeat;
        height: 25px;
        padding-left: 30px;
      }

      .icon{
        background-image: url("../images/icon_facebook.png");
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 25px;
        margin: -5px 0 0;
        text-indent: -9999%;
        width: 25px;
      }

      .icon-tw{
        background-image: url("../images/icon_tweeter.png");
      }

      .icon-yt{
        background-image: url("../images/youtube.jpg");
      }

      .icon-fc{
        background-image: url("../images/flickr.jpg");
      }
    }
    .hours{
      color: #555555;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 12px;
      margin: 0;
      text-align: center;
      white-space: pre;
    }*/ } }
@media (min-width: 990px) {
  /* line 149, ../sass/components/_footer.scss */
  .l-main-wrapper .social-link {
    text-align: center;
    margin-bottom: 30px;
    clear: both;
    font-size: 0; }
    /* line 154, ../sass/components/_footer.scss */
    .l-main-wrapper .social-link a {
      color: #004fba;
      text-decoration: none;
      font-size: 15px; }
      /* line 158, ../sass/components/_footer.scss */
      .l-main-wrapper .social-link a:hover {
        text-decoration: underline; }
    /* line 163, ../sass/components/_footer.scss */
    .l-main-wrapper .social-link .column-fourth {
      background-color: transparent;
      border-top: 1px solid #5F9BAF;
      border-bottom: 1px solid #5F9BAF;
      border-right: 1px solid #5F9BAF;
      border-left: none;
      display: inline-block;
      height: 70px;
      padding: 26px 0;
      vertical-align: middle;
      width: 25%; }
      /* line 175, ../sass/components/_footer.scss */
      .l-main-wrapper .social-link .column-fourth.fourth-column {
        border-right: none; }
    /* line 180, ../sass/components/_footer.scss */
    .l-main-wrapper .social-link .contact-us,
    .l-main-wrapper .social-link .email-updates {
      background-image: url("../images/mail.png");
      background-position: left center;
      background-repeat: no-repeat;
      height: 25px;
      padding-left: 30px; }
    /* line 189, ../sass/components/_footer.scss */
    .l-main-wrapper .social-link .icon {
      background-image: url("../images/icon_facebook.png");
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 25px;
      margin: -5px 0 0;
      text-indent: -9999%;
      width: 25px; }
    /* line 200, ../sass/components/_footer.scss */
    .l-main-wrapper .social-link .icon-tw {
      background-image: url("../images/icon_tweeter.png"); }
    /* line 204, ../sass/components/_footer.scss */
    .l-main-wrapper .social-link .icon-yt {
      background-image: url("../images/youtube.jpg"); }
    /* line 208, ../sass/components/_footer.scss */
    .l-main-wrapper .social-link .icon-fc {
      background-image: url("../images/flickr.jpg"); }
  /* line 212, ../sass/components/_footer.scss */
  .l-main-wrapper .hours {
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    text-align: center;
    white-space: pre; } }

@media (min-width: 320px) {
  /* line 223, ../sass/components/_footer.scss */
  .l-footer-wrapper {
    background-color: #20558A;
    border-top: 5px solid #E5B53A;
    color: #ffffff; }
    /* line 228, ../sass/components/_footer.scss */
    .l-footer-wrapper .l-page {
      /*.ask-us{
         background-color: transparent;
         position: fixed;
         right: -28px;
         top: 50%;
         transform: rotate(270deg);
         a{
           background-color: #20558a;
           background-image: url("../images/buttons-askus.jpg");
           background-position: center center;
           color: transparent;
           display: block;
           font-size: 1.5em;
           font-weight: bold;
           height: 60px;
           margin: 0;
           padding: 15px 25px;
           right: -15px;
           text-decoration: none;
           top: 181px;
           width: 119px;
           &:hover{
             background-color: rgb(235, 245, 245);
             color: transparent;
             text-decoration: none;
           }
         }
       }*/ }
      /* line 229, ../sass/components/_footer.scss */
      .l-footer-wrapper .l-page ul {
        list-style: outside none none;
        margin: 0;
        padding: 10px 25px; }
        /* line 233, ../sass/components/_footer.scss */
        .l-footer-wrapper .l-page ul li {
          list-style: outside none none;
          margin: 0 0 5px; }
          /* line 236, ../sass/components/_footer.scss */
          .l-footer-wrapper .l-page ul li a {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: lighter;
            line-height: 20px; }
            /* line 241, ../sass/components/_footer.scss */
            .l-footer-wrapper .l-page ul li a.active {
              color: #FFFFFF;
              text-decoration: none; }
            /* line 245, ../sass/components/_footer.scss */
            .l-footer-wrapper .l-page ul li a:hover {
              text-decoration: none; } }
@media (min-width: 768px) {
  /* line 223, ../sass/components/_footer.scss */
  .l-footer-wrapper {
    background-image: url("../images/footerRibbon.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    border-top: none;
    text-align: center;
    font-size: 11.25px;
    /*.ask-us{
      background-color: transparent;
      position: fixed;
      right: -28px;
      top: 50%;
      transform: rotate(270deg);
      a{
        background-color: #20558a;
        background-image: url("../images/buttons-askus.jpg");
        background-position: center center;
        color: transparent;
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        height: 60px;
        margin: 0;
        padding: 15px 25px;
        right: -15px;
        text-decoration: none;
        top: 181px;
        width: 119px;
        &:hover{
          background-color: rgb(235, 245, 245);
          color: transparent;
          text-decoration: none;
        }
      }
    }*/ }
    /* line 289, ../sass/components/_footer.scss */
    .l-footer-wrapper .l-page {
      background-image: none;
      background-position: center top;
      background-repeat: no-repeat;
      height: 90px;
      margin-bottom: 15px;
      overflow: hidden;
      padding-top: 15px; }
      /* line 298, ../sass/components/_footer.scss */
      .l-footer-wrapper .l-page ul {
        text-align: center;
        padding: 0 85px; }
        /* line 301, ../sass/components/_footer.scss */
        .l-footer-wrapper .l-page ul li {
          border-right: 1px solid #ffffff;
          display: inline-block;
          margin: 5px 5px 0 0;
          padding: 0 10px 0 0; }
          /* line 307, ../sass/components/_footer.scss */
          .l-footer-wrapper .l-page ul li.last {
            border-right: none; }
          /* line 311, ../sass/components/_footer.scss */
          .l-footer-wrapper .l-page ul li a {
            color: #ffffff;
            text-decoration: none;
            font-size: 12px; }
            /* line 315, ../sass/components/_footer.scss */
            .l-footer-wrapper .l-page ul li a:hover {
              text-decoration: underline; } }
@media (min-width: 990px) {
  /* line 223, ../sass/components/_footer.scss */
  .l-footer-wrapper {
    background-image: url("../images/footerRibbon.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    border-top: none;
    text-align: center;
    font-size: 11.25px; }
    /* line 360, ../sass/components/_footer.scss */
    .l-footer-wrapper .l-page {
      background-image: url("../images/footContainerBg.png");
      background-position: center top;
      background-repeat: no-repeat;
      height: 130px;
      margin-bottom: 15px;
      overflow: hidden;
      padding-top: 15px; }
      /* line 368, ../sass/components/_footer.scss */
      .l-footer-wrapper .l-page ul {
        text-align: center;
        padding: 0 85px; }
        /* line 371, ../sass/components/_footer.scss */
        .l-footer-wrapper .l-page ul li {
          border-right: 1px solid #ffffff;
          display: inline-block;
          margin: 5px 5px 0 0;
          padding: 0 10px 0 0; }
          /* line 377, ../sass/components/_footer.scss */
          .l-footer-wrapper .l-page ul li.last {
            border-right: none; }
          /* line 381, ../sass/components/_footer.scss */
          .l-footer-wrapper .l-page ul li a {
            color: #ffffff;
            font-size: 12px;
            text-decoration: none; }
            /* line 385, ../sass/components/_footer.scss */
            .l-footer-wrapper .l-page ul li a:hover {
              text-decoration: underline; }
    /* line 392, ../sass/components/_footer.scss */
    .l-footer-wrapper .ask-us {
      background-color: #616266;
      height: 66px;
      position: fixed;
      right: -26px;
      top: 50%;
      transform: rotate(270deg); }
      /* line 399, ../sass/components/_footer.scss */
      .l-footer-wrapper .ask-us p {
        margin: 0px;
        padding: 0px; }
        /* line 402, ../sass/components/_footer.scss */
        .l-footer-wrapper .ask-us p a {
          border: 2px solid #ffffff;
          color: #ffffff;
          display: block;
          font-size: 25px;
          font-weight: bold;
          margin: 5px;
          padding: 10px;
          text-transform: capitalize; }
          /* line 411, ../sass/components/_footer.scss */
          .l-footer-wrapper .ask-us p a:hover {
            text-decoration: none; } }

@media (min-width: 320px) {
  /* line 1, ../sass/components/_header.scss */
  .l-header-wrapper {
    background-image: url("../images/brandBG.jpg");
    background-position: center -59px;
    background-repeat: repeat-x; }
    /* line 9, ../sass/components/_header.scss */
    .l-header-wrapper .l-sub-header {
      height: 33px; }
      /* line 11, ../sass/components/_header.scss */
      .l-header-wrapper .l-sub-header .l-ors_home {
        width: 49.15254%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
        /* line 13, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home div.sf-accordion-toggle.sf-style-libnih {
          display: none; }
        /* line 16, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home li.sf-clone-parent {
          display: none; }
      /* line 20, ../sass/components/_header.scss */
      .l-header-wrapper .l-sub-header .l-search {
        width: 49.15254%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        text-align: right; }
        /* line 24, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-search .form-text {
          font-size: 11px;
          font-style: italic;
          margin-top: 3px;
          padding: 3px 3px 2px;
          width: 125px;
          -webkit-appearance: none; }
        /* line 33, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-search .form-submit {
          background-color: #ffffff;
          margin: 5px 0 -5px -5px; }
          /* line 36, ../sass/components/_header.scss */
          .l-header-wrapper .l-sub-header .l-search .form-submit:hover {
            background-image: url("/sites/all/themes/librarynih/images/gosearchhover15.png"); } }
@media (min-width: 768px) {
  /* line 1, ../sass/components/_header.scss */
  .l-header-wrapper {
    background-image: url("../images/brandBG.jpg");
    background-position: center -20px;
    background-repeat: repeat-x; }
    /* line 47, ../sass/components/_header.scss */
    .l-header-wrapper .l-header {
      height: 68px; }
    /* line 50, ../sass/components/_header.scss */
    .l-header-wrapper .l-sub-header {
      height: 31px; }
      /* line 52, ../sass/components/_header.scss */
      .l-header-wrapper .l-sub-header .l-ors_home {
        font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; }
        /* line 55, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home .sf-menu li:hover > ul,
        .l-header-wrapper .l-sub-header .l-ors_home .sf-menu li.sfHover > ul {
          left: 0.7em;
          top: 3.1em; }
        /* line 66, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home ul li ul li.first a {
          padding-top: 20px; }
        /* line 71, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home ul li ul li.last a {
          padding-bottom: 20px; }
        /* line 75, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home ul li ul li a {
          border: none;
          color: #20558a;
          font-weight: bold; }
          /* line 79, ../sass/components/_header.scss */
          .l-header-wrapper .l-sub-header .l-ors_home ul li ul li a:hover {
            color: #ffffff; }
      /* line 88, ../sass/components/_header.scss */
      .l-header-wrapper .l-sub-header .l-search {
        width: 49.15254%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        text-align: right;
        margin-right: 35px; }
        /* line 93, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-search .form-text {
          font-style: italic;
          margin-top: 3px;
          padding: 3px 3px 2px;
          width: 170px;
          -webkit-appearance: none; }
        /* line 101, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-search .form-submit {
          background-color: #ffffff;
          margin: 5px 0 -5px -5px; }
          /* line 104, ../sass/components/_header.scss */
          .l-header-wrapper .l-sub-header .l-search .form-submit:hover {
            background-image: url("/sites/all/themes/librarynih/images/gosearchhover15.png"); } }
@media (min-width: 990px) {
  /* line 1, ../sass/components/_header.scss */
  .l-header-wrapper {
    background-image: url("../images/brandBG.jpg");
    background-position: center top;
    background-repeat: repeat-x; }
    /* line 115, ../sass/components/_header.scss */
    .l-header-wrapper .l-header {
      height: 88px; }
    /* line 118, ../sass/components/_header.scss */
    .l-header-wrapper .l-sub-header {
      background-image: url("../images/NavRibbon.jpg");
      height: 31px; }
      /* line 121, ../sass/components/_header.scss */
      .l-header-wrapper .l-sub-header .l-ors_home {
        font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; }
        /* line 124, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home .sf-menu li:hover > ul,
        .l-header-wrapper .l-sub-header .l-ors_home .sf-menu li.sfHover > ul {
          left: 0.7em;
          top: 3.1em; }
        /* line 135, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home ul li ul li.first a {
          padding-top: 20px; }
        /* line 140, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home ul li ul li.last a {
          padding-bottom: 20px; }
        /* line 144, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-ors_home ul li ul li a {
          border: none;
          color: #20558a;
          font-weight: bold; }
          /* line 148, ../sass/components/_header.scss */
          .l-header-wrapper .l-sub-header .l-ors_home ul li ul li a:hover {
            color: #ffffff; }
      /* line 157, ../sass/components/_header.scss */
      .l-header-wrapper .l-sub-header .l-search {
        width: 49.15254%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        text-align: right;
        margin-right: 35px; }
        /* line 162, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-search .form-text {
          border: medium none;
          font-style: italic;
          height: 19px;
          margin-top: 3px;
          padding: 3px 3px 2px;
          width: 170px;
          -webkit-appearance: none; }
        /* line 172, ../sass/components/_header.scss */
        .l-header-wrapper .l-sub-header .l-search .form-submit {
          background-color: #ffffff;
          margin: 5px 0 -5px -5px; }
          /* line 175, ../sass/components/_header.scss */
          .l-header-wrapper .l-sub-header .l-search .form-submit:hover {
            background-image: url("/sites/all/themes/librarynih/images/gosearchhover15.png"); } }

/* line 3, ../sass/components/_navigation.scss */
.l-navigation {
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  /*@include breakpoint ($smartphone){
    .tb-megamenu{

      button.btn.btn-navbar.tb-megamenu-button{
        background-color: #ffffff;
        background-image: url("../images/menu-mobile.png");
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: none;
        color: #ffffff;
        height: 45px;
        width: 45px;
      }
      a{
        color: #FFFFFF;
      }
      .nav-collapse{
        background-color: $pc-blue;

        .dropdown-menu{
          background-color: #FFFFFF;
          color: $pc-blue;
          border-right: 1px solid;
          border-left: 1px solid;

          h2{
            margin-top: 0px;
            margin-bottom: 10px;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              margin: 0;
              padding: 0;
              a{
                color:$pc-blue;
                padding: 0;
                margin: 0;
              }
            }
          }
        }

        .nav > li.active > a:hover,
        .nav > li.active > a:focus {
          background-color: $pc-blue;
        }


      }

      .nav > .active > a,
      .nav > .active > a:hover,
      .nav > .active > a:focus{
        background-color: $pc-blue;
        color: #FFFFFF;
      }

      .nav li.dropdown.open > .dropdown-toggle {
        background-color: $pc-blue;
        color: #ffffff;
      }
    }
  }*/ }
  @media (min-width: 990px) {
    /* line 73, ../sass/components/_navigation.scss */
    .l-navigation a {
      text-decoration: none; }
    /* line 76, ../sass/components/_navigation.scss */
    .l-navigation .tb-megamenu {
      background-color: transparent;
      background-image: url("../images/menubg.png");
      background-repeat: repeat-x;
      height: 38px; }
      /* line 82, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav > li {
        border-right: 1px solid #000; }
      /* line 86, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav > li.last-item {
        border-right: none; }
      /* line 90, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav > li > a {
        border: 5px solid transparent;
        color: #fff;
        font-size: 1.4em;
        font-weight: lighter;
        padding: 4px 19px;
        text-shadow: none; }
        /* line 98, ../sass/components/_navigation.scss */
        .l-navigation .tb-megamenu .nav > li > a:hover, .l-navigation .tb-megamenu .nav > li > a:focus {
          background-color: transparent; }
      /* line 104, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav > li.last-item > a {
        border-right: none;
        padding: 4px 30px; }
      /* line 109, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav > .active > a,
      .l-navigation .tb-megamenu .nav > .active > a:hover,
      .l-navigation .tb-megamenu .nav > .active > a:focus {
        background-color: transparent;
        background-repeat: repeat-x;
        box-shadow: none;
        color: #fff;
        outline: medium none;
        text-shadow: none; }
      /* line 120, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .mega.open > .mega-dropdown-menu,
      .l-navigation .tb-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
        display: block;
        z-index: 99; }
      /* line 127, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .mega-dropdown-inner h2 {
        color: #996c36;
        font: 17px Georgia,"Times New Roman",Times,serif;
        margin-bottom: 10px; }
      /* line 133, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .mega-dropdown-inner ul li {
        margin-bottom: 10px; }
        /* line 135, ../sass/components/_navigation.scss */
        .l-navigation .tb-megamenu .mega-dropdown-inner ul li a {
          color: #004fba;
          font-size: 13px;
          font-weight: 200; }
          /* line 139, ../sass/components/_navigation.scss */
          .l-navigation .tb-megamenu .mega-dropdown-inner ul li a:hover {
            color: #a00000;
            text-decoration: none; }
      /* line 148, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .mega-dropdown-inner .custom-search .form-item-text-to-search,
      .l-navigation .tb-megamenu .mega-dropdown-inner .custom-search .form-item-site-to-search {
        display: inline-block;
        width: 100%; }
        /* line 152, ../sass/components/_navigation.scss */
        .l-navigation .tb-megamenu .mega-dropdown-inner .custom-search .form-item-text-to-search .form-text,
        .l-navigation .tb-megamenu .mega-dropdown-inner .custom-search .form-item-text-to-search .form-select,
        .l-navigation .tb-megamenu .mega-dropdown-inner .custom-search .form-item-site-to-search .form-text,
        .l-navigation .tb-megamenu .mega-dropdown-inner .custom-search .form-item-site-to-search .form-select {
          width: 100%;
          border-radius: 5px;
          height: 30px; }
      /* line 160, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .mega-dropdown-inner .custom-search .form-submit {
        background-color: #20558a;
        border: medium none;
        border-radius: 7px;
        color: #ffffff;
        font-weight: bold;
        padding: 10px 15px; }
      /* line 171, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .mega-dropdown-inner .custom-login .form-submit {
        background-color: #20558a;
        border: medium none;
        border-radius: 7px;
        color: #ffffff;
        font-weight: bold;
        padding: 10px 15px; }
      /* line 182, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
        border-top-color: white;
        border-bottom-color: white; }
      /* line 187, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
        background-color: #fff;
        color: #004fba;
        border: 5px solid #a1a1a1;
        border-bottom: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        /*z-index: 101;
        padding: 10px 10px 4px;
        position: relative;*/ }
      /* line 198, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav li.dropdown.active > .dropdown-toggle {
        background-color: transparent;
        color: #fff;
        border: 5px solid transparent;
        border-bottom: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      /* line 206, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
        background-color: #ffffff;
        color: #20558A;
        border: 5px solid #a1a1a1;
        border-bottom: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      /* line 215, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .dropdown-menu {
        border-right: 5px solid #a1a1a1;
        border-left: 5px solid #a1a1a1;
        border-bottom: 5px solid #a1a1a1;
        border-top: 5px solid #a1a1a1;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }
        /* line 224, ../sass/components/_navigation.scss */
        .l-navigation .tb-megamenu .dropdown-menu .block--menu,
        .l-navigation .tb-megamenu .dropdown-menu .block--block-8 {
          border-right: 1px solid #d7d7d7; }
          /* line 228, ../sass/components/_navigation.scss */
          .l-navigation .tb-megamenu .dropdown-menu .block--menu.block--menu-menu-browse-all-research-tools, .l-navigation .tb-megamenu .dropdown-menu .block--menu.block--menu-menu-services, .l-navigation .tb-megamenu .dropdown-menu .block--menu.block--menu-menu-training, .l-navigation .tb-megamenu .dropdown-menu .block--menu.block--menu-menu-policies-procedures,
          .l-navigation .tb-megamenu .dropdown-menu .block--block-8.block--menu-menu-browse-all-research-tools,
          .l-navigation .tb-megamenu .dropdown-menu .block--block-8.block--menu-menu-services,
          .l-navigation .tb-megamenu .dropdown-menu .block--block-8.block--menu-menu-training,
          .l-navigation .tb-megamenu .dropdown-menu .block--block-8.block--menu-menu-policies-procedures {
            border-right: none; }
      /* line 237, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu input[type="text"],
      .l-navigation .tb-megamenu input[type="submit"] {
        display: inline-block;
        width: 45%; }
      /* line 243, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu select {
        background-color: #fff;
        border: 1px solid #bbb;
        width: 180px; }
      /* line 251, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .last-item .remote-access a {
        padding: 30px 0;
        color: #20558A; }
        /* line 255, ../sass/components/_navigation.scss */
        .l-navigation .tb-megamenu .last-item .remote-access a:hover {
          color: #a00000; }
      /* line 262, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav-collapse .dropdown-menu {
        background-color: #ffffff;
        border-left: 5px solid #a1a1a1;
        border-right: 5px solid #a1a1a1;
        color: #20558a; }
      /* line 269, ../sass/components/_navigation.scss */
      .l-navigation .tb-megamenu .nav-collapse .dropdown-menu ul li {
        margin-bottom: 10px; } }

@media (min-width: 990px) {
  /* line 3, ../sass/components/_sidebar_block.scss */
  .l-region--sidebar-first .block,
  .l-region--sidebar-second .block {
      /*background-color: #ffffff;
      border-color: #20558a;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 8px 6px -6px #aaaaaa;
      margin-bottom: 1em;

      h2{
        background-color: #dfdfdf;
        background-image: none;
        border-bottom: 1px solid #20558a;
        border-radius: 3px 3px 0 0;
        color: #20558a;
        font-size: 12px;
        margin: 0;
        padding: 5px;
      }

      .block__content{
        padding: 5px;
      }*/ } }
/* line 34, ../sass/components/_sidebar_block.scss */
.l-region--sidebar-first h2,
.l-region--sidebar-second h2 {
  margin-top: 0px; }
/* line 40, ../sass/components/_sidebar_block.scss */
.l-region--sidebar-first .point-of-contact-sidebar .views-row .field--name-field-image,
.l-region--sidebar-second .point-of-contact-sidebar .views-row .field--name-field-image {
  margin-bottom: 10px; }

/* line 24, ../sass/librarynih.styles.scss */
.social-link {
  padding-top: 30px; }

/* line 30, ../sass/librarynih.styles.scss */
.page-blog .l-content .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em; }
  /* line 34, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-row .views-field-title {
    margin-bottom: 0; }
  /* line 37, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-row .views-field-field-staff-ref {
    margin-bottom: 5px; }
  /* line 41, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-row .field--name-field-image {
    margin-bottom: 5px; }
/* line 46, ../sass/librarynih.styles.scss */
.page-blog .l-content .views-field-title {
  font-size: 1em;
  margin-bottom: 1em; }
  /* line 49, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-field-title a {
    font-size: 1.7em;
    text-decoration: none; }
    /* line 52, ../sass/librarynih.styles.scss */
    .page-blog .l-content .views-field-title a:hover {
      text-decoration: underline; }
/* line 65, ../sass/librarynih.styles.scss */
.page-blog .l-content .views-field-field-date .field-content,
.page-blog .l-content .views-field-field-date .views-label,
.page-blog .l-content .views-field-field-staff-ref .field-content,
.page-blog .l-content .views-field-field-staff-ref .views-label,
.page-blog .l-content .views-field-field-blog-tags .field-content,
.page-blog .l-content .views-field-field-blog-tags .views-label {
  display: inline-block; }

/* line 75, ../sass/librarynih.styles.scss */
.element-invisible {
  margin: 0; }

/* line 81, ../sass/librarynih.styles.scss */
.node-type-guide ul.breadcrumb {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 5px; }
/* line 87, ../sass/librarynih.styles.scss */
.node-type-guide .l-main .l-content h1 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px; }
/* line 92, ../sass/librarynih.styles.scss */
.node-type-guide .l-main h2 {
  font-size: 20px; }
/* line 98, ../sass/librarynih.styles.scss */
.node-type-guide .l-region--sidebar-first .block__title,
.node-type-guide .l-region--sidebar-second .block__title {
  font-size: 16px; }

/* line 106, ../sass/librarynih.styles.scss */
.page-node-16 .l-page .l-main .l-content .block--views-forms-forms-block {
  padding-bottom: 20px;
  border-bottom: 1px solid #616265; }

/* line 115, ../sass/librarynih.styles.scss */
.page-blog .l-content h1 {
  display: none; }
/* line 121, ../sass/librarynih.styles.scss */
.page-blog .l-region--sidebar-first .block__title,
.page-blog .l-region--sidebar-second .block__title {
  font-size: 16px; }

/* line 131, ../sass/librarynih.styles.scss */
.node-type-blog .l-main .l-content h1 {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0; }
/* line 137, ../sass/librarynih.styles.scss */
.node-type-blog .l-content h1 {
  font-size: 24px;
  margin-bottom: 0px; }
/* line 141, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .field--name-field-date,
.node-type-blog .l-content .field--name-field-staff-ref {
  display: inline-block; }
/* line 145, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .field--name-field-date {
  padding-right: 5px;
  border-right: 1px solid #616265;
  margin-bottom: 5px; }
/* line 150, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .field--name-field-staff-ref {
  margin-left: 5px; }
/* line 160, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .sharethis-wrapper {
  margin-top: 15px; }
/* line 166, ../sass/librarynih.styles.scss */
.node-type-blog .l-region--sidebar-first .block__title,
.node-type-blog .l-region--sidebar-second .block__title {
  font-size: 16px; }

/* line 173, ../sass/librarynih.styles.scss */
.block--views-categories-block,
.block--views-post-by-date-block {
  margin-top: 35px; }

/* line 181, ../sass/librarynih.styles.scss */
.node-type-staff .l-main .l-content h2, .node-type-staff .l-main .l-content h3, .node-type-staff .l-main .l-content h4, .node-type-staff .l-main .l-content h5, .node-type-staff .l-main .l-content h6 {
  margin-top: 0; }
/* line 188, ../sass/librarynih.styles.scss */
.node-type-staff .l-region--sidebar-second h2 {
  margin-bottom: 10px; }

/* line 197, ../sass/librarynih.styles.scss */
.node-type-training-parent .l-main .l-content h1 {
  font-size: 24px; }
/* line 200, ../sass/librarynih.styles.scss */
.node-type-training-parent .l-main .l-content h2 {
  font-size: 20px; }

/* line 210, ../sass/librarynih.styles.scss */
.page-node-register .l-region--sidebar-first h2,
.page-node-register .l-region--sidebar-second h2 {
  margin-bottom: 0px; }
/* line 213, ../sass/librarynih.styles.scss */
.page-node-register .l-region--sidebar-first p,
.page-node-register .l-region--sidebar-second p {
  margin-top: 0px; }

/* line 219, ../sass/librarynih.styles.scss */
.not-logged-in.page-node-register .tabs.tabs--primary.links--inline {
  display: none; }

/*# sourceMappingURL=librarynih.styles.css.map */
