/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_forms.scss */
input, textarea, select, button {
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box; }

/* line 10, ../sass/base/_forms.scss */
.node--webform--full input, .node--webform--full textarea, .node--webform--full select, .node--webform--full button,
.registration-form input,
.registration-form textarea,
.registration-form select,
.registration-form button {
  border: solid 1px #5F9BAF;
  box-shadow: none; }
/* line 15, ../sass/base/_forms.scss */
.node--webform--full label,
.registration-form label {
  margin-bottom: 5px; }
/* line 19, ../sass/base/_forms.scss */
.node--webform--full input[type="text"],
.node--webform--full input[type="email"],
.node--webform--full select,
.node--webform--full textarea,
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form select,
.registration-form textarea {
  width: 100%;
  padding: 5px; }
/* line 30, ../sass/base/_forms.scss */
.node--webform--full .form-actions,
.registration-form .form-actions {
  text-align: right;
  margin-top: 20px; }
/* line 35, ../sass/base/_forms.scss */
.node--webform--full .webform-submit,
.node--webform--full .webform-reset,
.node--webform--full .form-submit,
.registration-form .webform-submit,
.registration-form .webform-reset,
.registration-form .form-submit {
  background-color: #20558a;
  border: medium none;
  border-radius: 7px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px; }
/* line 46, ../sass/base/_forms.scss */
.node--webform--full #edit-cancel,
.registration-form #edit-cancel {
  display: none; }
/* line 50, ../sass/base/_forms.scss */
.node--webform--full .webform-reset,
.registration-form .webform-reset {
  margin-left: 20px;
  margin-right: 20px; }
/* line 67, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--first-name,
.node--webform--full .webform-client-form-4 .webform-component--last-name,
.node--webform--full .webform-client-form-5 .webform-component--first-name,
.node--webform--full .webform-client-form-5 .webform-component--last-name,
.node--webform--full .webform-client-form-6 .webform-component--first-name,
.node--webform--full .webform-client-form-6 .webform-component--last-name,
.node--webform--full .webform-client-form-7 .webform-component--first-name,
.node--webform--full .webform-client-form-7 .webform-component--last-name,
.node--webform--full .webform-client-form-8 .webform-component--first-name,
.node--webform--full .webform-client-form-8 .webform-component--last-name,
.node--webform--full .webform-client-form-9 .webform-component--first-name,
.node--webform--full .webform-client-form-9 .webform-component--last-name,
.node--webform--full .webform-client-form-10 .webform-component--first-name,
.node--webform--full .webform-client-form-10 .webform-component--last-name,
.node--webform--full .webform-client-form-11 .webform-component--first-name,
.node--webform--full .webform-client-form-11 .webform-component--last-name,
.node--webform--full .webform-client-form-12 .webform-component--first-name,
.node--webform--full .webform-client-form-12 .webform-component--last-name,
.node--webform--full .webform-client-form-13 .webform-component--first-name,
.node--webform--full .webform-client-form-13 .webform-component--last-name,
.node--webform--full .webform-client-form-14 .webform-component--first-name,
.node--webform--full .webform-client-form-14 .webform-component--last-name,
.node--webform--full .webform-client-form-15 .webform-component--first-name,
.node--webform--full .webform-client-form-15 .webform-component--last-name,
.registration-form .webform-client-form-4 .webform-component--first-name,
.registration-form .webform-client-form-4 .webform-component--last-name,
.registration-form .webform-client-form-5 .webform-component--first-name,
.registration-form .webform-client-form-5 .webform-component--last-name,
.registration-form .webform-client-form-6 .webform-component--first-name,
.registration-form .webform-client-form-6 .webform-component--last-name,
.registration-form .webform-client-form-7 .webform-component--first-name,
.registration-form .webform-client-form-7 .webform-component--last-name,
.registration-form .webform-client-form-8 .webform-component--first-name,
.registration-form .webform-client-form-8 .webform-component--last-name,
.registration-form .webform-client-form-9 .webform-component--first-name,
.registration-form .webform-client-form-9 .webform-component--last-name,
.registration-form .webform-client-form-10 .webform-component--first-name,
.registration-form .webform-client-form-10 .webform-component--last-name,
.registration-form .webform-client-form-11 .webform-component--first-name,
.registration-form .webform-client-form-11 .webform-component--last-name,
.registration-form .webform-client-form-12 .webform-component--first-name,
.registration-form .webform-client-form-12 .webform-component--last-name,
.registration-form .webform-client-form-13 .webform-component--first-name,
.registration-form .webform-client-form-13 .webform-component--last-name,
.registration-form .webform-client-form-14 .webform-component--first-name,
.registration-form .webform-client-form-14 .webform-component--last-name,
.registration-form .webform-client-form-15 .webform-component--first-name,
.registration-form .webform-client-form-15 .webform-component--last-name {
  width: 47%;
  display: inline-block; }
/* line 73, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--first-name,
.node--webform--full .webform-client-form-5 .webform-component--first-name,
.node--webform--full .webform-client-form-6 .webform-component--first-name,
.node--webform--full .webform-client-form-7 .webform-component--first-name,
.node--webform--full .webform-client-form-8 .webform-component--first-name,
.node--webform--full .webform-client-form-9 .webform-component--first-name,
.node--webform--full .webform-client-form-10 .webform-component--first-name,
.node--webform--full .webform-client-form-11 .webform-component--first-name,
.node--webform--full .webform-client-form-12 .webform-component--first-name,
.node--webform--full .webform-client-form-13 .webform-component--first-name,
.node--webform--full .webform-client-form-14 .webform-component--first-name,
.node--webform--full .webform-client-form-15 .webform-component--first-name,
.registration-form .webform-client-form-4 .webform-component--first-name,
.registration-form .webform-client-form-5 .webform-component--first-name,
.registration-form .webform-client-form-6 .webform-component--first-name,
.registration-form .webform-client-form-7 .webform-component--first-name,
.registration-form .webform-client-form-8 .webform-component--first-name,
.registration-form .webform-client-form-9 .webform-component--first-name,
.registration-form .webform-client-form-10 .webform-component--first-name,
.registration-form .webform-client-form-11 .webform-component--first-name,
.registration-form .webform-client-form-12 .webform-component--first-name,
.registration-form .webform-client-form-13 .webform-component--first-name,
.registration-form .webform-client-form-14 .webform-component--first-name,
.registration-form .webform-client-form-15 .webform-component--first-name {
  margin-right: 5%; }
/* line 77, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--phone,
.node--webform--full .webform-client-form-5 .webform-component--phone,
.node--webform--full .webform-client-form-6 .webform-component--phone,
.node--webform--full .webform-client-form-7 .webform-component--phone,
.node--webform--full .webform-client-form-8 .webform-component--phone,
.node--webform--full .webform-client-form-9 .webform-component--phone,
.node--webform--full .webform-client-form-10 .webform-component--phone,
.node--webform--full .webform-client-form-11 .webform-component--phone,
.node--webform--full .webform-client-form-12 .webform-component--phone,
.node--webform--full .webform-client-form-13 .webform-component--phone,
.node--webform--full .webform-client-form-14 .webform-component--phone,
.node--webform--full .webform-client-form-15 .webform-component--phone,
.registration-form .webform-client-form-4 .webform-component--phone,
.registration-form .webform-client-form-5 .webform-component--phone,
.registration-form .webform-client-form-6 .webform-component--phone,
.registration-form .webform-client-form-7 .webform-component--phone,
.registration-form .webform-client-form-8 .webform-component--phone,
.registration-form .webform-client-form-9 .webform-component--phone,
.registration-form .webform-client-form-10 .webform-component--phone,
.registration-form .webform-client-form-11 .webform-component--phone,
.registration-form .webform-client-form-12 .webform-component--phone,
.registration-form .webform-client-form-13 .webform-component--phone,
.registration-form .webform-client-form-14 .webform-component--phone,
.registration-form .webform-client-form-15 .webform-component--phone {
  width: 34%;
  display: inline-block;
  margin-right: 5%; }
/* line 83, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-4 .webform-component--visitor,
.node--webform--full .webform-client-form-5 .webform-component--visitor,
.node--webform--full .webform-client-form-6 .webform-component--visitor,
.node--webform--full .webform-client-form-7 .webform-component--visitor,
.node--webform--full .webform-client-form-8 .webform-component--visitor,
.node--webform--full .webform-client-form-9 .webform-component--visitor,
.node--webform--full .webform-client-form-10 .webform-component--visitor,
.node--webform--full .webform-client-form-11 .webform-component--visitor,
.node--webform--full .webform-client-form-12 .webform-component--visitor,
.node--webform--full .webform-client-form-13 .webform-component--visitor,
.node--webform--full .webform-client-form-14 .webform-component--visitor,
.node--webform--full .webform-client-form-15 .webform-component--visitor,
.registration-form .webform-client-form-4 .webform-component--visitor,
.registration-form .webform-client-form-5 .webform-component--visitor,
.registration-form .webform-client-form-6 .webform-component--visitor,
.registration-form .webform-client-form-7 .webform-component--visitor,
.registration-form .webform-client-form-8 .webform-component--visitor,
.registration-form .webform-client-form-9 .webform-component--visitor,
.registration-form .webform-client-form-10 .webform-component--visitor,
.registration-form .webform-client-form-11 .webform-component--visitor,
.registration-form .webform-client-form-12 .webform-component--visitor,
.registration-form .webform-client-form-13 .webform-component--visitor,
.registration-form .webform-client-form-14 .webform-component--visitor,
.registration-form .webform-client-form-15 .webform-component--visitor {
  width: 60%;
  display: inline-block; }
/* line 90, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-15 .webform-component--visitor,
.registration-form .webform-client-form-15 .webform-component--visitor {
  width: 100%; }
/* line 94, ../sass/base/_forms.scss */
.node--webform--full .webform-client-form-15 .webform-component--phone,
.registration-form .webform-client-form-15 .webform-component--phone {
  width: 100%; }
/* line 100, ../sass/base/_forms.scss */
.node--webform--full .form-item .description,
.registration-form .form-item .description {
  margin-top: 5px; }
/* line 105, ../sass/base/_forms.scss */
.node--webform--full .field-name-field-first-name,
.node--webform--full .field-name-field-last-name,
.registration-form .field-name-field-first-name,
.registration-form .field-name-field-last-name {
  width: 47%;
  display: inline-block; }
/* line 111, ../sass/base/_forms.scss */
.node--webform--full .field-name-field-first-name,
.registration-form .field-name-field-first-name {
  margin-right: 5%; }
/* line 114, ../sass/base/_forms.scss */
.node--webform--full .field-name-field-last-name,
.registration-form .field-name-field-last-name {
  width: 48%; }

/* line 123, ../sass/base/_forms.scss */
.node-type-webform .l-region--sidebar-first h2,
.page-node-16 .l-region--sidebar-first h2 {
  /*color: $pc-gray;*/
  margin-bottom: 0px; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/*@import "../../variables/**
@import "../variables/_grid.scss";
@import "../variables/_colors.scss";

/*@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

table{
  width: 100%;
  font-size: Arial;
  thead{
    tr{
      th{
        background-color: $pc-blue;
        border: 1px solid;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        text-transform: capitalize;
      }
    }
  }
  tbody{
    tr{
      td{
        border: 1px solid #000;
        color: #0000ff;
        padding: 10px;
        text-decoration: underline;
      }
    }
  }
}*/
/* No files to import found in ../../variables/**\/* */
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff"); }
/* line 13, ../sass/base/_typography.scss */
html {
  color: #616265;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 8pt; }

/* line 19, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #BA2020; }

/* line 28, ../sass/base/_typography.scss */
a {
  color: #20558A;
  text-decoration: none; }
  /* line 31, ../sass/base/_typography.scss */
  a:hover {
    text-decoration: underline; }

/* line 36, ../sass/base/_typography.scss */
.fa {
  margin-right: 5px; }

/* line 42, ../sass/base/_typography.scss */
.l-main .l-content h1, .l-main .l-content h2, .l-main .l-content h3, .l-main .l-content h4, .l-main .l-content h5, .l-main .l-content h6 {
  margin-bottom: 10px;
  margin-top: 10px; }
/* line 47, ../sass/base/_typography.scss */
.l-main .l-content p {
  margin-top: 0px; }

/* line 3, ../sass/components/_banner.scss */
.banner {
  background-color: #5F9BAF; }
  /* line 5, ../sass/components/_banner.scss */
  .banner h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 10px 15px; }

/* line 2, ../sass/components/_body.scss */
.l-main-wrapper .l-page {
  background-image: url("../images/mainPageBgPattern.png");
  background-position: center top;
  background-repeat: repeat-y;
  padding: 0 9px; }
  /* line 8, ../sass/components/_body.scss */
  .l-main-wrapper .l-page .l-main {
    font-size: 14px;
    min-height: 500px; }

/* line 3, ../sass/components/_breadcrum.scss */
.breadcrumb {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 5px; }

/* line 3, ../sass/components/_navigation.scss */
.l-navigation {
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  /*@include breakpoint ($smartphone){
    .tb-megamenu{

      button.btn.btn-navbar.tb-megamenu-button{
        background-color: #ffffff;
        background-image: url("../images/menu-mobile.png");
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: none;
        color: #ffffff;
        height: 45px;
        width: 45px;
      }
      a{
        color: #FFFFFF;
      }
      .nav-collapse{
        background-color: $pc-blue;

        .dropdown-menu{
          background-color: #FFFFFF;
          color: $pc-blue;
          border-right: 1px solid;
          border-left: 1px solid;

          h2{
            margin-top: 0px;
            margin-bottom: 10px;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              margin: 0;
              padding: 0;
              a{
                color:$pc-blue;
                padding: 0;
                margin: 0;
              }
            }
          }
        }

        .nav > li.active > a:hover,
        .nav > li.active > a:focus {
          background-color: $pc-blue;
        }


      }

      .nav > .active > a,
      .nav > .active > a:hover,
      .nav > .active > a:focus{
        background-color: $pc-blue;
        color: #FFFFFF;
      }

      .nav li.dropdown.open > .dropdown-toggle {
        background-color: $pc-blue;
        color: #ffffff;
      }
    }
  }*/ }

/* line 34, ../sass/components/_sidebar_block.scss */
.l-region--sidebar-first h2,
.l-region--sidebar-second h2 {
  margin-top: 0px; }
/* line 40, ../sass/components/_sidebar_block.scss */
.l-region--sidebar-first .point-of-contact-sidebar .views-row .field--name-field-image,
.l-region--sidebar-second .point-of-contact-sidebar .views-row .field--name-field-image {
  margin-bottom: 10px; }

/* line 24, ../sass/librarynih.styles.scss */
.social-link {
  padding-top: 30px; }

/* line 30, ../sass/librarynih.styles.scss */
.page-blog .l-content .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em; }
  /* line 34, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-row .views-field-title {
    margin-bottom: 0; }
  /* line 37, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-row .views-field-field-staff-ref {
    margin-bottom: 5px; }
  /* line 41, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-row .field--name-field-image {
    margin-bottom: 5px; }
/* line 46, ../sass/librarynih.styles.scss */
.page-blog .l-content .views-field-title {
  font-size: 1em;
  margin-bottom: 1em; }
  /* line 49, ../sass/librarynih.styles.scss */
  .page-blog .l-content .views-field-title a {
    font-size: 1.7em;
    text-decoration: none; }
    /* line 52, ../sass/librarynih.styles.scss */
    .page-blog .l-content .views-field-title a:hover {
      text-decoration: underline; }
/* line 65, ../sass/librarynih.styles.scss */
.page-blog .l-content .views-field-field-date .field-content,
.page-blog .l-content .views-field-field-date .views-label,
.page-blog .l-content .views-field-field-staff-ref .field-content,
.page-blog .l-content .views-field-field-staff-ref .views-label,
.page-blog .l-content .views-field-field-blog-tags .field-content,
.page-blog .l-content .views-field-field-blog-tags .views-label {
  display: inline-block; }

/* line 75, ../sass/librarynih.styles.scss */
.element-invisible {
  margin: 0; }

/* line 81, ../sass/librarynih.styles.scss */
.node-type-guide ul.breadcrumb {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 5px; }
/* line 87, ../sass/librarynih.styles.scss */
.node-type-guide .l-main .l-content h1 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px; }
/* line 92, ../sass/librarynih.styles.scss */
.node-type-guide .l-main h2 {
  font-size: 20px; }
/* line 98, ../sass/librarynih.styles.scss */
.node-type-guide .l-region--sidebar-first .block__title,
.node-type-guide .l-region--sidebar-second .block__title {
  font-size: 16px; }

/* line 106, ../sass/librarynih.styles.scss */
.page-node-16 .l-page .l-main .l-content .block--views-forms-forms-block {
  padding-bottom: 20px;
  border-bottom: 1px solid #616265; }

/* line 115, ../sass/librarynih.styles.scss */
.page-blog .l-content h1 {
  display: none; }
/* line 121, ../sass/librarynih.styles.scss */
.page-blog .l-region--sidebar-first .block__title,
.page-blog .l-region--sidebar-second .block__title {
  font-size: 16px; }

/* line 131, ../sass/librarynih.styles.scss */
.node-type-blog .l-main .l-content h1 {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0; }
/* line 137, ../sass/librarynih.styles.scss */
.node-type-blog .l-content h1 {
  font-size: 24px;
  margin-bottom: 0px; }
/* line 141, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .field--name-field-date,
.node-type-blog .l-content .field--name-field-staff-ref {
  display: inline-block; }
/* line 145, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .field--name-field-date {
  padding-right: 5px;
  border-right: 1px solid #616265;
  margin-bottom: 5px; }
/* line 150, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .field--name-field-staff-ref {
  margin-left: 5px; }
/* line 160, ../sass/librarynih.styles.scss */
.node-type-blog .l-content .sharethis-wrapper {
  margin-top: 15px; }
/* line 166, ../sass/librarynih.styles.scss */
.node-type-blog .l-region--sidebar-first .block__title,
.node-type-blog .l-region--sidebar-second .block__title {
  font-size: 16px; }

/* line 173, ../sass/librarynih.styles.scss */
.block--views-categories-block,
.block--views-post-by-date-block {
  margin-top: 35px; }

/* line 181, ../sass/librarynih.styles.scss */
.node-type-staff .l-main .l-content h2, .node-type-staff .l-main .l-content h3, .node-type-staff .l-main .l-content h4, .node-type-staff .l-main .l-content h5, .node-type-staff .l-main .l-content h6 {
  margin-top: 0; }
/* line 188, ../sass/librarynih.styles.scss */
.node-type-staff .l-region--sidebar-second h2 {
  margin-bottom: 10px; }

/* line 197, ../sass/librarynih.styles.scss */
.node-type-training-parent .l-main .l-content h1 {
  font-size: 24px; }
/* line 200, ../sass/librarynih.styles.scss */
.node-type-training-parent .l-main .l-content h2 {
  font-size: 20px; }

/* line 210, ../sass/librarynih.styles.scss */
.page-node-register .l-region--sidebar-first h2,
.page-node-register .l-region--sidebar-second h2 {
  margin-bottom: 0px; }
/* line 213, ../sass/librarynih.styles.scss */
.page-node-register .l-region--sidebar-first p,
.page-node-register .l-region--sidebar-second p {
  margin-top: 0px; }

/* line 219, ../sass/librarynih.styles.scss */
.not-logged-in.page-node-register .tabs.tabs--primary.links--inline {
  display: none; }

/*# sourceMappingURL=librarynih.no-query.css.map */
