/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../sass/layouts/site/nih-site.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 990px) {
    /* line 24, ../../../sass/layouts/site/nih-site.layout.scss */
    .l-page .l-main {
      margin: 0 15px; }
      /* line 28, ../../../sass/layouts/site/nih-site.layout.scss */
      .l-page .l-main .announcements .views-row {
        display: inline-block;
        width: 23%;
        margin-right: 2%; }
        /* line 33, ../../../sass/layouts/site/nih-site.layout.scss */
        .l-page .l-main .announcements .views-row a {
          color: #20558A;
          font-size: 25px;
          font-weight: bold;
          text-decoration: none;
          text-align: left; }
          /* line 40, ../../../sass/layouts/site/nih-site.layout.scss */
          .l-page .l-main .announcements .views-row a:hover {
            text-decoration: underline; }
        /* line 45, ../../../sass/layouts/site/nih-site.layout.scss */
        .l-page .l-main .announcements .views-row.views-row-last {
          margin-right: 0; }
      /* line 53, ../../../sass/layouts/site/nih-site.layout.scss */
      .l-page .l-main .block--book-ads .container-books a {
        display: inline-block;
        text-align: center;
        width: 16.5%; }
        /* line 57, ../../../sass/layouts/site/nih-site.layout.scss */
        .l-page .l-main .block--book-ads .container-books a img {
          margin: 0 auto; }
      /* line 63, ../../../sass/layouts/site/nih-site.layout.scss */
      .l-page .l-main .block--book-ads .container-link {
        font-size: 15px;
        font-weight: bold;
        margin: 15px 0;
        text-align: right; }
        /* line 68, ../../../sass/layouts/site/nih-site.layout.scss */
        .l-page .l-main .block--book-ads .container-link a {
          background-image: url("../../../images/arrow-blue-right.png");
          background-position: right center;
          background-repeat: no-repeat;
          color: #20558a;
          padding-right: 16px;
          text-decoration: none; }
          /* line 75, ../../../sass/layouts/site/nih-site.layout.scss */
          .l-page .l-main .block--book-ads .container-link a:hover {
            text-decoration: underline; } }

/*# sourceMappingURL=nih-site.layout.css.map */
