/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/site/site.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/site/site.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/site/site.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/site/site.layout.scss */
    .l-page {
      width: 990px; } }

/*# sourceMappingURL=site.layout.css.map */
