/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/home/home.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/home/home.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/home/home.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/home/home.layout.scss */
    .l-page {
      width: 990px; }
      /* line 30, ../../../sass/layouts/home/home.layout.scss */
      .l-page .l-main {
        margin: 0 15px; }
        /* line 34, ../../../sass/layouts/home/home.layout.scss */
        .l-page .l-main .announcements .views-row {
          display: inline-block;
          width: 23%;
          margin-right: 2%; }
          /* line 39, ../../../sass/layouts/home/home.layout.scss */
          .l-page .l-main .announcements .views-row a {
            color: #20558A;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            text-align: left; }
            /* line 46, ../../../sass/layouts/home/home.layout.scss */
            .l-page .l-main .announcements .views-row a:hover {
              text-decoration: underline; }
          /* line 51, ../../../sass/layouts/home/home.layout.scss */
          .l-page .l-main .announcements .views-row.views-row-last {
            margin-right: 0; }
        /* line 59, ../../../sass/layouts/home/home.layout.scss */
        .l-page .l-main .block--book-ads .container-books a {
          display: inline-block;
          text-align: center;
          width: 16.5%; }
          /* line 63, ../../../sass/layouts/home/home.layout.scss */
          .l-page .l-main .block--book-ads .container-books a img {
            margin: 0 auto; }
        /* line 69, ../../../sass/layouts/home/home.layout.scss */
        .l-page .l-main .block--book-ads .container-link {
          font-size: 15px;
          font-weight: bold;
          margin: 15px 0;
          text-align: right; }
          /* line 74, ../../../sass/layouts/home/home.layout.scss */
          .l-page .l-main .block--book-ads .container-link a {
            background-image: url("../../../images/arrow-blue-right.png");
            background-position: right center;
            background-repeat: no-repeat;
            color: #20558a;
            padding-right: 16px;
            text-decoration: none; }
            /* line 81, ../../../sass/layouts/home/home.layout.scss */
            .l-page .l-main .block--book-ads .container-link a:hover {
              text-decoration: underline; }
      /* line 89, ../../../sass/layouts/home/home.layout.scss */
      .l-page .column-third {
        /*background-color: #20558A;
        border: 2px solid;
        color: #fff;*/
        display: inline-block;
        height: 350px;
        /*margin: 20px 0 20px 8px;*/
        /*padding: 30px;*/
        vertical-align: top;
        width: 32%;
        color: #616265;
        margin: 0 0 20px 8px;
        padding: 0 15px;
        background-color: #ebf5f5;
        border: 1px solid #20558a; }
        /* line 105, ../../../sass/layouts/home/home.layout.scss */
        .l-page .column-third h2 {
          color: white;
          background: #20558a;
          margin: 0;
          padding: 15px; }
        /* line 112, ../../../sass/layouts/home/home.layout.scss */
        .l-page .column-third .block__content {
          padding: 0 15px; }
        /* line 116, ../../../sass/layouts/home/home.layout.scss */
        .l-page .column-third p {
          font-size: 1.4em; }
        /* line 120, ../../../sass/layouts/home/home.layout.scss */
        .l-page .column-third .trainingevent {
          margin-bottom: 5px; }
          /* line 122, ../../../sass/layouts/home/home.layout.scss */
          .l-page .column-third .trainingevent .eventtitle {
            font-size: 15px; }
          /* line 125, ../../../sass/layouts/home/home.layout.scss */
          .l-page .column-third .trainingevent .eventdate {
            font-weight: lighter;
            font-style: italic; }
        /* line 131, ../../../sass/layouts/home/home.layout.scss */
        .l-page .column-third a {
          /*font-size: 13px;
          color: #fff;*/
          text-decoration: none;
          font-size: 14px;
          color: #20558a; }
          /* line 137, ../../../sass/layouts/home/home.layout.scss */
          .l-page .column-third a:hover {
            text-decoration: underline; }
        /* line 142, ../../../sass/layouts/home/home.layout.scss */
        .l-page .column-third ul {
          display: inline-block;
          font-size: 15px;
          margin-right: 20px;
          padding: 0; }
          /* line 147, ../../../sass/layouts/home/home.layout.scss */
          .l-page .column-third ul li {
            float: left;
            list-style: outside none none;
            margin-bottom: 10px;
            margin-right: 1%;
            width: 49%; } }

/*# sourceMappingURL=home.layout.css.map */
