/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
    .l-page {
      width: 990px; }
      /* line 30, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
      .l-page .l-main {
        margin: 0 15px 15px;
        clear: both; }
        /* line 34, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-content h1 {
          margin-top: 0; }
        /* line 40, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-first .bean-menu ul {
          margin: 0;
          padding: 0; }
          /* line 43, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
          .l-page .l-main .l-region--sidebar-first .bean-menu ul li {
            margin: 0;
            padding: 0;
            list-style: none; }
            /* line 47, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
            .l-page .l-main .l-region--sidebar-first .bean-menu ul li a {
              border-bottom: 2px solid #5F9BAF;
              color: #20558A;
              display: block;
              padding: 10px 0 10px 5px;
              width: 100%; }
              /* line 53, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
              .l-page .l-main .l-region--sidebar-first .bean-menu ul li a:hover, .l-page .l-main .l-region--sidebar-first .bean-menu ul li a.active {
                color: #ffffff;
                background-color: #5F9BAF;
                text-decoration: none; }
        /* line 65, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-first .block--views-latest-blogs-block-3 .views-row {
          margin: 20px 0; }
        /* line 72, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-first .block--views-categories-block ul,
        .l-page .l-main .l-region--sidebar-first .block--views-post-by-date-block ul {
          margin: 0;
          padding: 0; }
          /* line 75, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
          .l-page .l-main .l-region--sidebar-first .block--views-categories-block ul li,
          .l-page .l-main .l-region--sidebar-first .block--views-post-by-date-block ul li {
            margin: 10px 0;
            padding: 0;
            list-style: none; }
        /* line 86, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-first .staff-profile-sidebar-left h2 {
          color: #BA2020; }
        /* line 90, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-first .staff-profile-sidebar-left .field--name-field-staff-position {
          margin-bottom: 10px;
          font-weight: bold; }
        /* line 94, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-first .staff-profile-sidebar-left .field--name-field-staff-address {
          margin-bottom: 10px; }
        /* line 102, ../../../sass/layouts/threecolumn/nih-threecolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-second .staff-profile-sidebar-right .views-row .field__item {
          margin-bottom: 10px; } }

/*# sourceMappingURL=nih-threecolumn.layout.css.map */
