// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";



@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-header-wrapper,
.l-main-wrapper,
.l-footer-wrapper{
  @include clearfix;
}

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){
    width: $smartphone;
  }
  @include breakpoint ($tablet){
    width: $tablet;
  }
  @include breakpoint ($desktop){
    width: $desktop;

    .l-main{
      margin: 0 15px 15px;
      clear: both;
      .l-content{
        h1{
          margin-top: 0;
        }
        .registration-form{
          border: solid 1px $pc-gray;
          padding: 20px;
          margin-top: 25px;
        }
      }
    }
  }
}
