// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";



@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-header-wrapper,
.l-main-wrapper,
.l-footer-wrapper{
  @include clearfix;
}

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){
    width: $smartphone;
  }
  @include breakpoint ($tablet){
    width: $tablet;
  }
  @include breakpoint ($desktop){
    width: $desktop;

    .l-main{
      margin: 0 15px 15px;
      clear: both;
      .l-content{
        @include grid-span(12,1);

        table{
          width: 96%;
          margin: 4% 2%;
          text-align: center;
          thead{
            tr{
              th{
                  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                  border-bottom: 1px solid;
                  padding-bottom: 1%;
                  text-align: center;
                  text-transform: uppercase;
                  width: 25%;
              }
            }
          }
          tbody{
            tr{
              background: none;
              td{
                padding: 1% 0;
              }
            }
          }
        }

        .view{
          .view-content{
            margin-bottom: 30px;
            .views-field{
              margin-bottom: 5px;
            }
          }

          &.view-latest-training.view-id-latest_training.view-display-id-page_1,
          &.view-calendar.view-id-calendar.view-display-id-page_1{
            border-bottom: 1px solid $oc-blue;
            display: inline-block;
            width: 100%;
            .view-header{
              ul{
                text-align: right;
                li{
                  display: inline-block;
                  list-style: none;
                  a{
                    &.calendar-display{
                      border: 1px solid;
                      border-radius: 5px;
                      color: #616265;
                      display: block;
                      font-size: 13px;
                      font-weight: bold;
                      padding: 10px 12px;
                      &:hover{
                        text-decoration: none;
                      }
                      &.active{
                        background-color: $pc-gray;
                        color: #ffffff;
                      }
                    }
                    &.list-display{
                      border: 1px solid;
                      border-radius: 5px;
                      color: #616265;
                      display: block;
                      font-size: 13px;
                      font-weight: bold;
                      padding: 10px 12px;
                      &:hover{
                        text-decoration: none;
                      }
                      &.active{
                        background-color: $pc-gray;
                        color: #ffffff;
                      }
                    }
                  }
                }
              }
              .date-nav{
                margin: 0;
                padding: 0;
                .pager{
                  .date-prev{
                    float: left;
                    left: 33%;
                    width: 20px;
                    background-color: transparent;
                    a{
                      background-image: url("../../../images/leftarrow.png");
                      background-position: center center;
                      background-repeat: no-repeat;
                      border: 1px solid #616265;
                      color: transparent;
                      display: block;
                      height: 20px;
                      margin: 0;
                      padding: 0;
                      text-indent: -5000%;
                      width: 20px;
                    }
                  }
                  .date-next{
                    float: right;
                    right: 33%;
                    width: 20px;
                    background-color: transparent;
                    a{
                      background-image: url("../../../images/rightarrow.png");
                      background-position: center center;
                      background-repeat: no-repeat;
                      border: 1px solid #616265;
                      color: transparent;
                      display: block;
                      height: 20px;
                      text-indent: -5000%;
                      width: 20px;
                    }
                  }
                }
              }

              .date-nav-wrapper {
                margin-left: 24%;
                margin-top: 5px;
                position: relative;
                width: 75%;
              }
            }
            .view-filters{
              display: inline-block;
              float: left;
              width: 27%;
              position: relative;
              top: -60px;

              .views-exposed-widget{
                width: 100%;
                margin: 0 0 20px 0;

                label[for=edit-field-training-date-value],,
                label[for=edit-field-training-format-value],
                label[for=edit-field-location-value],
                label[for=edit-field-nih-subject-target-id],
                label[for=edit-field-training-category-tid]{
                  color: $sc-red;
                  text-transform: uppercase;
                  margin-bottom: 10px;
                  padding-bottom: 10px;
                }

                .views-widget{
                  margin-top: 10px;

                  select{
                    width: 100%;
                  }
                }
              }
            }
            .view-content{
              display: inline-block;
              float: left;
              width: 72%;

              table{
                thead{
                  tr{
                    th{
                      &.views-field-title{
                        width: 50%;
                      }
                      &.views-field-field-training-date{
                        width: 20%;
                      }
                      &.views-field-field-training-date-1{
                        width: 20%;
                      }
                    }
                  }
                }
                tbody{
                  text-align: left;
                  td{
                    &.views-field.views-field-field-training-date{
                      text-align: center;
                    }
                  }
                }
              }
            }
          }

          &.view-calendar.view-id-calendar.view-display-id-page_1{
            .view-content{
              display: inline-block;
              float: left;
              width: 72%;

              table{
                thead{
                  tr{
                    th{
                      width: auto;
                    }
                  }
                }
                tbody{
                  text-align: left;
                }
              }
            }

          }

          &.list-of-training-parents{

            .views-exposed-form{
              .form-submit{
                color: transparent;
                text-indent: -5000%;
                display: inline-block;
                width: 17px;
                height: 17px;
                background-image: url("../../../images/searchArrow.gif");
                background-position: center;
                border:none;
                background-color: transparent;
              }
            }
            table{
              text-align: left;
              border-collapse: collapse;
              margin:0;
              width: 100%;
              thead{
                background-color: $pc-blue;
                color:#ffffff;
                text-transform: capitalize;
                border: 1px solid $pc-blue;
                tr{
                  th{
                    &.views-field-title{
                      border-right: 1px solid #ffffff;
                      padding: 5px;
                      text-align: left;
                      text-transform: capitalize;
                      width: 85%;
                    }
                    &.views-field-field-training-format{
                      padding: 5px;
                      text-align: left;
                      text-transform: capitalize;
                      width: 15%;
                    }
                  }
                }
              }
              tbody{
                tr{
                  &.even{
                    background-color: #DFDFDF;
                  }
                  td{
                    border: 1px solid #000000;
                    &.views-field-title{
                      a{
                        color: #0000ff;
                        text-decoration: underline;
                        margin-left: 10px;
                      }
                    }
                    &.views-field-field-training-format{
                      .field--name-field-training-format{
                        margin-left: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .block--nihl-forms-custom-all-research-tools,
        .block--nihl-forms-custom-online-journals,
        .block--nihl-forms-custom-databases,
        .block--nihl-forms-custom-online-books{
          h2{
            font-size: 16px;
            color: #000000;
            display: inline-block;
            width: 30%;
          }
          .block__content{
            display: inline-block;
            width: 30%;

            .form-type-select.form-item-parameter-to-search{
              display: inline-block;
              width: 80%;

              select{
                width: 100%;
                font-size: 16px;
                color: #000000;
              }
            }

            .form-submit{
              color: transparent;
              text-indent: -5000%;
              display: inline-block;
              width: 17px;
              height: 17px;
              background-image: url("../../../images/searchArrow.gif");
              background-position: center;
              border:none;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
