/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
    .l-page {
      width: 990px; }
      /* line 30, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
      .l-page .l-main {
        margin: 0 15px 15px;
        clear: both; }
        /* line 33, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .l-main .l-content {
          width: 74.57627%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; }
          /* line 35, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .l-main .l-content h1 {
            margin-top: 0px; }
        /* line 39, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .l-main .l-region--sidebar-first {
          width: 23.72881%;
          float: left;
          margin-right: -100%;
          margin-left: 0;
          clear: none;
          padding-right: 20px; }
        /* line 45, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .l-main .announcements .views-row {
          display: inline-block;
          width: 23%;
          margin-right: 2%; }
          /* line 50, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .l-main .announcements .views-row a {
            color: #20558A;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            text-align: left; }
            /* line 57, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
            .l-page .l-main .announcements .views-row a:hover {
              text-decoration: underline; }
          /* line 62, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .l-main .announcements .views-row.views-row-last {
            margin-right: 0; }
        /* line 70, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .l-main .block--book-ads .container-books a {
          display: inline-block;
          text-align: center;
          width: 16.5%; }
          /* line 74, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .l-main .block--book-ads .container-books a img {
            margin: 0 auto; }
        /* line 80, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .l-main .block--book-ads .container-link {
          font-size: 15px;
          font-weight: bold;
          margin: 15px 0;
          text-align: right; }
          /* line 85, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .l-main .block--book-ads .container-link a {
            background-image: url("../../../images/arrow-blue-right.png");
            background-position: right center;
            background-repeat: no-repeat;
            color: #20558a;
            padding-right: 16px;
            text-decoration: none; }
            /* line 92, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
            .l-page .l-main .block--book-ads .container-link a:hover {
              text-decoration: underline; }
      /* line 100, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
      .l-page .column-third {
        background-color: #20558A;
        border: 2px solid;
        color: #fff;
        display: inline-block;
        height: 350px;
        margin: 20px 0 20px 8px;
        padding: 30px;
        vertical-align: top;
        width: 32%; }
        /* line 111, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .column-third h2 {
          color: #FFF; }
        /* line 115, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .column-third .trainingevent {
          margin-bottom: 5px; }
          /* line 117, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .column-third .trainingevent .eventtitle {
            font-size: 15px; }
          /* line 120, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .column-third .trainingevent .eventdate {
            font-weight: lighter;
            font-style: italic; }
        /* line 126, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .column-third a {
          font-size: 13px;
          color: #fff;
          text-decoration: none; }
          /* line 130, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .column-third a:hover {
            text-decoration: underline; }
        /* line 135, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
        .l-page .column-third ul {
          display: inline-block;
          font-size: 15px;
          margin-right: 20px;
          padding: 0; }
          /* line 140, ../../../sass/layouts/twocolumn/twocolumn.layout.scss */
          .l-page .column-third ul li {
            float: left;
            list-style: outside none none;
            margin-bottom: 10px;
            margin-right: 1%;
            width: 49%; } }

/*# sourceMappingURL=twocolumn.layout.css.map */
