/* No files to import found in ../../../variables/**\/* */
/* line 13, ../../../../../../../../../../../home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.librarynih/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.l-header-wrapper:after,
.l-main-wrapper:after,
.l-footer-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* line 19, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 320px) {
    /* line 19, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
    .l-page {
      width: 320px; } }
  @media (min-width: 768px) {
    /* line 19, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
    .l-page {
      width: 768px; } }
  @media (min-width: 990px) {
    /* line 19, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
    .l-page {
      width: 990px; }
      /* line 30, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
      .l-page .l-main {
        margin: 0 15px 15px;
        clear: both; }
        /* line 33, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
        .l-page .l-main .l-content {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; }
          /* line 36, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content table {
            width: 96%;
            margin: 4% 2%;
            text-align: center; }
            /* line 42, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content table thead tr th {
              background: transparent none repeat scroll 0 0;
              border-bottom: 1px solid;
              padding-bottom: 1%;
              text-align: center;
              text-transform: uppercase;
              width: 25%; }
            /* line 53, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content table tbody tr {
              background: none; }
              /* line 55, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content table tbody tr td {
                padding: 1% 0; }
          /* line 63, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content .view .view-content {
            margin-bottom: 30px; }
            /* line 65, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view .view-content .views-field {
              margin-bottom: 5px; }
          /* line 70, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 {
            border-bottom: 1px solid #5F9BAF;
            display: inline-block;
            width: 100%; }
            /* line 76, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul {
              text-align: right; }
              /* line 78, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul li, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul li {
                display: inline-block;
                list-style: none; }
                /* line 82, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul li a.calendar-display, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul li a.calendar-display {
                  border: 1px solid;
                  border-radius: 5px;
                  color: #616265;
                  display: block;
                  font-size: 13px;
                  font-weight: bold;
                  padding: 10px 12px; }
                  /* line 90, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                  .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul li a.calendar-display:hover, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul li a.calendar-display:hover {
                    text-decoration: none; }
                  /* line 93, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                  .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul li a.calendar-display.active, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul li a.calendar-display.active {
                    background-color: #616265;
                    color: #ffffff; }
                /* line 98, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul li a.list-display, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul li a.list-display {
                  border: 1px solid;
                  border-radius: 5px;
                  color: #616265;
                  display: block;
                  font-size: 13px;
                  font-weight: bold;
                  padding: 10px 12px; }
                  /* line 106, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                  .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul li a.list-display:hover, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul li a.list-display:hover {
                    text-decoration: none; }
                  /* line 109, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                  .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header ul li a.list-display.active, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header ul li a.list-display.active {
                    background-color: #616265;
                    color: #ffffff; }
            /* line 117, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header .date-nav, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header .date-nav {
              margin: 0;
              padding: 0; }
              /* line 121, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header .date-nav .pager .date-prev, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header .date-nav .pager .date-prev {
                float: left;
                left: 33%;
                width: 20px;
                background-color: transparent; }
                /* line 126, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header .date-nav .pager .date-prev a, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header .date-nav .pager .date-prev a {
                  background-image: url("../../../images/leftarrow.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  border: 1px solid #616265;
                  color: transparent;
                  display: block;
                  height: 20px;
                  margin: 0;
                  padding: 0;
                  text-indent: -5000%;
                  width: 20px; }
              /* line 140, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header .date-nav .pager .date-next, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header .date-nav .pager .date-next {
                float: right;
                right: 33%;
                width: 20px;
                background-color: transparent; }
                /* line 145, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header .date-nav .pager .date-next a, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header .date-nav .pager .date-next a {
                  background-image: url("../../../images/rightarrow.png");
                  background-position: center center;
                  background-repeat: no-repeat;
                  border: 1px solid #616265;
                  color: transparent;
                  display: block;
                  height: 20px;
                  text-indent: -5000%;
                  width: 20px; }
            /* line 160, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-header .date-nav-wrapper, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-header .date-nav-wrapper {
              margin-left: 24%;
              margin-top: 5px;
              position: relative;
              width: 75%; }
            /* line 167, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters {
              display: inline-block;
              float: left;
              width: 27%;
              position: relative;
              top: -60px; }
              /* line 174, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget {
                width: 100%;
                margin: 0 0 20px 0; }
                /* line 178, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-training-date-value],
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-training-format-value],
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-location-value],
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-nih-subject-target-id],
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-training-category-tid], .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-training-date-value],
                .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-training-format-value],
                .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-location-value],
                .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-nih-subject-target-id],
                .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget label[for=edit-field-training-category-tid] {
                  color: #BA2020;
                  text-transform: uppercase;
                  margin-bottom: 10px;
                  padding-bottom: 10px; }
                /* line 189, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget .views-widget, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget .views-widget {
                  margin-top: 10px; }
                  /* line 192, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                  .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-filters .views-exposed-widget .views-widget select, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-filters .views-exposed-widget .views-widget select {
                    width: 100%; }
            /* line 198, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-content, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content {
              display: inline-block;
              float: left;
              width: 72%; }
              /* line 207, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-content table thead tr th.views-field-title, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content table thead tr th.views-field-title {
                width: 50%; }
              /* line 210, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-content table thead tr th.views-field-field-training-date, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content table thead tr th.views-field-field-training-date {
                width: 20%; }
              /* line 213, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-content table thead tr th.views-field-field-training-date-1, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content table thead tr th.views-field-field-training-date-1 {
                width: 20%; }
              /* line 219, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-content table tbody, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content table tbody {
                text-align: left; }
                /* line 222, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
                .l-page .l-main .l-content .view.view-latest-training.view-id-latest_training.view-display-id-page_1 .view-content table tbody td.views-field.views-field-field-training-date, .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content table tbody td.views-field.views-field-field-training-date {
                  text-align: center; }
          /* line 232, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content {
            display: inline-block;
            float: left;
            width: 72%; }
            /* line 240, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content table thead tr th {
              width: auto; }
            /* line 245, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.view-calendar.view-id-calendar.view-display-id-page_1 .view-content table tbody {
              text-align: left; }
          /* line 256, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content .view.list-of-training-parents .views-exposed-form .form-submit {
            color: transparent;
            text-indent: -5000%;
            display: inline-block;
            width: 17px;
            height: 17px;
            background-image: url("../../../images/searchArrow.gif");
            background-position: center;
            border: none;
            background-color: transparent; }
          /* line 268, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content .view.list-of-training-parents table {
            text-align: left;
            border-collapse: collapse;
            margin: 0;
            width: 100%; }
            /* line 273, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.list-of-training-parents table thead {
              background-color: #20558A;
              color: #ffffff;
              text-transform: capitalize;
              border: 1px solid #20558A; }
              /* line 280, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.list-of-training-parents table thead tr th.views-field-title {
                border-right: 1px solid #ffffff;
                padding: 5px;
                text-align: left;
                text-transform: capitalize;
                width: 85%; }
              /* line 287, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.list-of-training-parents table thead tr th.views-field-field-training-format {
                padding: 5px;
                text-align: left;
                text-transform: capitalize;
                width: 15%; }
            /* line 298, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.list-of-training-parents table tbody tr.even {
              background-color: #DFDFDF; }
            /* line 301, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .view.list-of-training-parents table tbody tr td {
              border: 1px solid #000000; }
              /* line 304, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.list-of-training-parents table tbody tr td.views-field-title a {
                color: #0000ff;
                text-decoration: underline;
                margin-left: 10px; }
              /* line 311, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .view.list-of-training-parents table tbody tr td.views-field-field-training-format .field--name-field-training-format {
                margin-left: 5px; }
          /* line 325, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content .block--nihl-forms-custom-all-research-tools h2,
          .l-page .l-main .l-content .block--nihl-forms-custom-online-journals h2,
          .l-page .l-main .l-content .block--nihl-forms-custom-databases h2,
          .l-page .l-main .l-content .block--nihl-forms-custom-online-books h2 {
            font-size: 16px;
            color: #000000;
            display: inline-block;
            width: 30%; }
          /* line 331, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
          .l-page .l-main .l-content .block--nihl-forms-custom-all-research-tools .block__content,
          .l-page .l-main .l-content .block--nihl-forms-custom-online-journals .block__content,
          .l-page .l-main .l-content .block--nihl-forms-custom-databases .block__content,
          .l-page .l-main .l-content .block--nihl-forms-custom-online-books .block__content {
            display: inline-block;
            width: 30%; }
            /* line 335, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .block--nihl-forms-custom-all-research-tools .block__content .form-type-select.form-item-parameter-to-search,
            .l-page .l-main .l-content .block--nihl-forms-custom-online-journals .block__content .form-type-select.form-item-parameter-to-search,
            .l-page .l-main .l-content .block--nihl-forms-custom-databases .block__content .form-type-select.form-item-parameter-to-search,
            .l-page .l-main .l-content .block--nihl-forms-custom-online-books .block__content .form-type-select.form-item-parameter-to-search {
              display: inline-block;
              width: 80%; }
              /* line 339, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
              .l-page .l-main .l-content .block--nihl-forms-custom-all-research-tools .block__content .form-type-select.form-item-parameter-to-search select,
              .l-page .l-main .l-content .block--nihl-forms-custom-online-journals .block__content .form-type-select.form-item-parameter-to-search select,
              .l-page .l-main .l-content .block--nihl-forms-custom-databases .block__content .form-type-select.form-item-parameter-to-search select,
              .l-page .l-main .l-content .block--nihl-forms-custom-online-books .block__content .form-type-select.form-item-parameter-to-search select {
                width: 100%;
                font-size: 16px;
                color: #000000; }
            /* line 346, ../../../sass/layouts/onecolumn/onecolumn.layout.scss */
            .l-page .l-main .l-content .block--nihl-forms-custom-all-research-tools .block__content .form-submit,
            .l-page .l-main .l-content .block--nihl-forms-custom-online-journals .block__content .form-submit,
            .l-page .l-main .l-content .block--nihl-forms-custom-databases .block__content .form-submit,
            .l-page .l-main .l-content .block--nihl-forms-custom-online-books .block__content .form-submit {
              color: transparent;
              text-indent: -5000%;
              display: inline-block;
              width: 17px;
              height: 17px;
              background-image: url("../../../images/searchArrow.gif");
              background-position: center;
              border: none;
              background-color: transparent; } }

/*# sourceMappingURL=onecolumn.layout.css.map */
