// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";



@import "../../../variables/**/*";
@import "../../variables/_grid.scss";
@import "../../variables/_colors.scss";

.l-header-wrapper,
.l-main-wrapper,
.l-footer-wrapper{
  @include clearfix;
}

.l-page{
  margin: 0 auto;
  @include breakpoint ($smartphone){
    width: $smartphone;
  }
  @include breakpoint ($tablet){
    width: $tablet;
  }
  @include breakpoint ($desktop){
    width: $desktop;

      .l-main{
        margin: 0 15px 15px;
        clear: both;
        .l-header-content{
          @include grid-span(12,1);

          .search-result-header{
            border: 1px solid $pc-gray;
            border-bottom: none;
            h2{
              background-color: $pc-gray;
              color: #fff;
              font-size: 28px;
              margin: 0;
              padding: 5px;
            }

            h3{
              margin-top: 0px;
            }

            p{
              margin:1em;
              margin-bottom: 0px;
            }
          }

          .block--nihl-forms{
            border: 1px solid $pc-gray;
            border-top: none;
            margin-bottom: 20px;

            h2{
              display: none;
            }

            form{
              padding: 14px;

              .form-item.form-type-textfield.form-item-text-to-search,
              .form-item.form-type-select.form-item-site-to-search,
              .form-submit{
                display: inline-block;
              }

              .form-item.form-type-textfield.form-item-text-to-search{
                width: 48%;
                margin-right: 3%;
                input{
                  border: 1px solid #5f9baf;
                  box-shadow: none;
                  padding: 5px;
                  width: 100%;
                }
              }
              .form-item.form-type-select.form-item-site-to-search{
                width: 48%;
                select{
                  border: 1px solid #5f9baf;
                  box-shadow: none;
                  padding: 5px;
                  width: 100%;
                }
              }
              .form-submit{
                background-color: #20558a;
                border: medium none;
                border-radius: 7px;
                color: #ffffff;
                font-weight: bold;
                margin-left: 90%;
                padding: 10px 15px;
              }
            }
          }

          .facet-glossary{
            ul{
              margin-bottom: 20px;
              padding: 0;
              li{
                display: inline-block;
                padding: 5px 0;
                text-align: center;
                &.active{
                  border: 1px solid;
                }


                a{
                  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                  border: 1px solid #ffffff;
                  color: #000;
                  display: block;
                  padding: 5px 0;
                  width: 100%;
                  .counter{
                    display: none;
                  }
                  &.facetapi-tabs-active.active{
                    display: none;
                  }
                  &:hover{
                    border: 1px solid #000000;
                    text-decoration: none;
                  }
                }
              }

              li:first-child:nth-last-child(1),
              li:first-child:nth-last-child(1) ~ li {
                  width: 100%;
              }

              li:first-child:nth-last-child(2),
              li:first-child:nth-last-child(2) ~ li {
                  width: 49.7%;
              }

              li:first-child:nth-last-child(3),
              li:first-child:nth-last-child(3) ~ li {
                  width: 33%;
              }

              li:first-child:nth-last-child(4),
              li:first-child:nth-last-child(4) ~ li {
                  width: 24.6%;
              }

              li:first-child:nth-last-child(5),
              li:first-child:nth-last-child(5) ~ li {
                  width: 19.6%;
              }

              li:first-child:nth-last-child(6),
              li:first-child:nth-last-child(6) ~ li {
                  width: 16.3%;
              }

              li:first-child:nth-last-child(7),
              li:first-child:nth-last-child(7) ~ li {
                  width: 13.9%;
              }

              li:first-child:nth-last-child(8),
              li:first-child:nth-last-child(8) ~ li {
                  width: 12.1%;
              }

              li:first-child:nth-last-child(9),
              li:first-child:nth-last-child(9) ~ li {
                  width: 10.7%;
              }

              li:first-child:nth-last-child(10),
              li:first-child:nth-last-child(10) ~ li {
                  width: 9.6%;
              }

              li:first-child:nth-last-child(11),
              li:first-child:nth-last-child(11) ~ li {
                  width: 8.7%;
              }

              li:first-child:nth-last-child(12),
              li:first-child:nth-last-child(12) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(13),
              li:first-child:nth-last-child(13) ~ li {
                  width: 7.3%;
              }

              li:first-child:nth-last-child(14),
              li:first-child:nth-last-child(14) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(15),
              li:first-child:nth-last-child(15) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(16),
              li:first-child:nth-last-child(16) ~ li {
                  width: 5.8%;
              }

              li:first-child:nth-last-child(17),
              li:first-child:nth-last-child(17) ~ li {
                  width: 5.45%;
              }

              li:first-child:nth-last-child(18),
              li:first-child:nth-last-child(18) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(19),
              li:first-child:nth-last-child(19) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(20),
              li:first-child:nth-last-child(20) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(21),
              li:first-child:nth-last-child(21) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(22),
              li:first-child:nth-last-child(22) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(23),
              li:first-child:nth-last-child(23) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(24),
              li:first-child:nth-last-child(24) ~ li {
                  width: 13.9%;
              }

              li:first-child:nth-last-child(25),
              li:first-child:nth-last-child(25) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(26),
              li:first-child:nth-last-child(26) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(27),
              li:first-child:nth-last-child(27) ~ li {
                  width: 7.3%;
              }

              li:first-child:nth-last-child(28),
              li:first-child:nth-last-child(28) ~ li {
                  width: 6.7%;
              }

              li:first-child:nth-last-child(29),
              li:first-child:nth-last-child(29) ~ li {
                  width: 6.7%;
              }
            }
          }
        }
        .l-content{
          @include grid-span(9,4);
          h1,
          h2,
          .tabs.tabs--primary.links--inline,
          .search-form,
          .spelling-suggestions{
            display: none;
          }

          article{
            border-bottom: 1px dotted $pc-blue;
            margin-bottom: 15px;
            padding-bottom: 15px;
            h3{
              margin-top: 0px;
              margin-bottom: 5px;
              font-size: 16px;
            }
            p{
              margin-bottom: 0px;
              &.content-type{
                color:$pc-blue;
              }
            }
          }
          .pager{
            text-align: right;
            .pager__item{
                border: 1px solid;
                border-radius: 5px;
              &.pager__item--current{
                background-color: $oc-blue;
                color: #ffffff;
              }
              &.pager__item--next,
              &.pager__item--last,
              &.pager__item--first,
              &.pager__item--previous{
                border: none;
              }
            }
          }
        }
        .l-region--sidebar-first{
          @include grid-span(3,1);
          padding-right: 20px;

          h2{
            font-size: 16px;
            margin-bottom: 0px;
          }

          .block--facetapi,
          .block__content{
            ul{
              padding: 0px;
              margin-top: 5px;
              li{
                list-style: none;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
  }
}
