// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.social-link{
  padding-top: 30px;
}

.page-blog{
  .l-content{
    .views-row{
      margin-bottom: 1em;
      padding-bottom: 1em;

      .views-field-title{
        margin-bottom: 0;
      }
      .views-field-field-staff-ref{
        margin-bottom: 5px;
      }

      .field--name-field-image{
        margin-bottom: 5px;
      }
    }

    .views-field-title{
      font-size: 1em;
      margin-bottom: 1em;
      a{
        font-size: 1.7em;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .views-field-field-date,
    .views-field-field-staff-ref,
    .views-field-field-blog-tags,
    .views-field-body{
    }
    .views-field-field-date,
    .views-field-field-staff-ref,
    .views-field-field-blog-tags{
      .field-content,
      .views-label{
        display: inline-block;
      }
    }


  }
}

.element-invisible{
  margin: 0;
}


.node-type-guide{
  ul.breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .l-main{
    .l-content h1{
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    h2{
      font-size: 20px;
    }
  }
  .l-region--sidebar-first,
  .l-region--sidebar-second{
    .block__title{
      font-size: 16px;
    }
  }
}

.page-node-16{
  .l-page .l-main .l-content{
    .block--views-forms-forms-block{
      padding-bottom: 20px;
      border-bottom: 1px solid $pc-gray;
    }
  }
}

.page-blog{
  .l-content{
    h1{
      display: none;
    }
  }
  .l-region--sidebar-first,
  .l-region--sidebar-second{
    .block__title{
      font-size: 16px;
    }
  }


}

.node-type-blog{

  .l-main .l-content h1{
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .l-content{
    h1{
      font-size: 24px;
      margin-bottom: 0px;
    }
    .field--name-field-date,
    .field--name-field-staff-ref{
      display: inline-block;
    }
    .field--name-field-date{
      padding-right: 5px;
      border-right: 1px solid $pc-gray;
      margin-bottom: 5px;
    }
    .field--name-field-staff-ref{
      margin-left: 5px;
    }

    .field-label{
    }

    .field--name-field-nih-subject,
    .field--name-field-blog-tags{
    }
    .sharethis-wrapper{
      margin-top: 15px;
    }
  }
  .l-region--sidebar-first,
  .l-region--sidebar-second{
    .block__title{
      font-size: 16px;
    }
  }

}

.block--views-categories-block,
.block--views-post-by-date-block{
  margin-top:35px;
}

.node-type-staff{
  .l-main{
    .l-content{
      h2,h3,h4,h5,h6{
        margin-top: 0;
      }
    }
  }

  .l-region--sidebar-second{
    h2{
      margin-bottom: 10px;
    }
  }
}

.node-type-training-parent{
  .l-main{
    .l-content{
      h1{
        font-size: 24px;
      }
      h2{
        font-size: 20px;
      }
    }
  }
}

.page-node-register{
  .l-region--sidebar-first,
  .l-region--sidebar-second{
    h2{
      margin-bottom:0px;
    }
    p{
      margin-top: 0px;
    }
  }
}

.not-logged-in.page-node-register .tabs.tabs--primary.links--inline {
  display: none;
}
