$pc-blue : #20558A;
$pc-gray : #616265;
$sc-blue : #EBF5F5;
$sc-green : #208A55;
$sc-purple : #BA2055;
$sc-red : #BA2020;
$ors-gold : #E5B53A;
$oc-blue : #5F9BAF;
$oc-green : #719500;
$oc-red : #C0143C;
$oc-orange : #E57200;
$oc-purple : #5C3A77;
